sitename = "example.org"

smtp_host = "mail.example.org"
# smtp_port = 25
smtp_tls = True
smtp_user = "webappuser"
smtp_password = "password"

site_email_address = "support@example.org"
site_email_subject_prefix = "%(sitename)s - "

registration_message = """Hello %(nick)s,

to complete your registration at %(sitename)s please follow this link:
https://example.org/ems/?msid=%(msid)s

Regards,
Your %(sitename)s Team"""

logfile = "ems.log"
#tracefile = "ems.trace"
