sitename = "example.org"

smtp_host = "mail.example.org"
# smtp_port = 25
smtp_tls = True
smtp_user = "webappuser"
smtp_password = "password"

registration_from = "support@example.org"
registration_subject = "%(sitename)s - Registration confirmation"
registration_message = """Hello %(fullname)s,

to complete your registration at %(sitename)s please follow this link:
https://example.org/ems.wsgi?do=register&msid=%(msid)s

Regards,
Your %(sitename)s Team"""

