html {
	background-color: #f0f0ff;
}

.ems-heading {
	position: fixed;
	background-color: #d0d0ff;
	margin: 0px;
	padding: 10px;
	padding-left: 30px;
	padding-top: 30px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	display: normal;
	top: -20px;
	left: -20px;
	width: 200px;
	z-index: 0;
}

.ems-menu {
	position: fixed;
	background-color: #d0d0ff;
	padding: 10px;
	padding-top: 30px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-left: none;
	top: -15px;
	left: 200px;
	z-index: 2;
}

.page-menu {
	position: fixed;
	background-color: #d0d0ff;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-top: none;
	top: 45px;
	left: 10px;
	z-index: 1;
}

.ems-help {
	padding-top: 100px;
}

.ems-content {
	border-radius: 10px;
	background-color: #d0d0ff;
	padding-top: 10px;
	padding-left: 10px;
	border: 1px solid;
	border-color: black;
	float: left;
}

.contact-personal {
	float: left;
	background-color: #ffe0b0;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

.contact-address {
	float: left;
	background-color: #ffffd0;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

.contact-field {
	width: 400px;
	height: 30px;
}

.contact-input {
	float: right;
	border-radius: 3px;
}

#contact-name-title {
	padding-top: 15px;
}
#contact-nationality {
	padding-bottom: 15px;
}

.application-study {
	float: left;
	background-color: #ffe0b0;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

#application-statement {
	float: left;
	width: 90%;
	background-color: #ffd0ff;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

#application-motivation {
	float: left;
	width: 90%;
	background-color: #ffd0ff;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

#application-motto {
	float: left;
	width: 90%;
	background-color: #ffd0ff;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

.application-talk {
	float: left;
	background-color: #d0ffff;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

.application-wishes {
	float: left;
	background-color: #d0ffd0;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

.application-field {
	width: 450px;
	height: 30px;
}

.application-input {
	float: right;
	border-radius: 3px;
}

.ems-user {
	background-color: #ffe0b0;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

.ems-group {
	background-color: #ffd0ff;
	padding-top: 10px;
	padding-left: 10px;	
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

.ems-entry {
	background-color: #ffffd0;
	padding-top: 10px;
	padding-left: 10px;	
	border-radius: 10px;
	border: 1px solid;
	border-color: black;
	border-bottom: none;
	border-right: none;
}

.ems-status {
	display: none;
	float: left;
	margin: 5px;
}

.ems-message {
	display: none;
	background-color: white;
	margin: 5px;
	padding: 10px;
	border: 2px dashed;
	border-color: blue;
	border-radius: 10px;
}

.ems-error {
	display: none;
	background-color: white;
	margin: 5px;
	padding: 10px;
	border: 2px dotted;
	border-color: darkred;
	border-radius: 10px;
}
