body {
	background-color: #f0f0f0;
}


.page-menu {
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: #dfdfdf;
	border-bottom: 1px solid #bfbfbf;
	padding: 10px;
	z-index: 50;
}
.ems-menu {
	display: block;
	margin-bottom: 10px;
}
.menu-title {
	font-weight: bold;
}
.menu-widgets {
	float: right;
	margin-right: 20px;
	font-size: small;
}
.menu-nick {
	font-weight: bold;
}


.ems-content {
	margin-top: 8em;
}


.ems-item {
	display: block;
}

/* ------------------------------------------------------------------------- */
/* --------------------------------- Entries ------------------------------- */
/* ------------------------------------------------------------------------- */
.ems-entry {
	display: inline;
}
.entry-decorator-left {
	position: absolute;
	margin-top: 30px;
	margin-left: -16px;
	width: 35px;
	height: 52px;
	background:url(../images/speech-connector.svg) no-repeat 0 0;
}
.entry-data {
	display: inline-block;
	vertical-align: top;
	margin-left: 17px;
	margin-bottom: 10px;
	border-radius: 20px;
	border: 2px solid lightblue;
	background-color: white;
	padding: 10px;
	min-height: 110px;
	width: 60%;
}
.entry-title-label {
	display: none;
}
.entry-title {
	display: block; /* erleichtert das anklicken des Titels beim Editieren, da er die ganze Breite einnimmt */
	font-weight: bold;
	text-decoration: underline;
	padding: 2px;
	padding-bottom: 10px;
	border: 2px solid transparent;
}
.entry-title:focus {
	border: 2px solid orange;
}
.entry-time {
	position: absolute;
	margin-top: 80px;
	margin-left: -130px;
}
.entry-mtime {
	display: block;
	padding-left: 20px;
	padding-bottom: 5px;
	background:url(../silk_icons/date_edit.png) no-repeat 0 0;
	font-size: small;
	text-align: center;
}
.entry-mtime-label {
	display: none;
}
.entry-mtime-day {
	display: block;
}
.entry-mtime-time {
	display: block;
}
.entry-ctime {
	display: block;
	padding-left: 20px;
	padding-bottom: 5px;
	background:url(../silk_icons/date.png) no-repeat 0 0;
	font-size: small;
	text-align: center;
}
.entry-ctime-label {
	display: none;
}
.entry-ctime-day {
	display: block;
}
.entry-ctime-time {
	display: block;
}

.entry-content {
	/* Anklicken des Inhalts beim Editieren vereinfachen, indem er die ganze Breite und eine Mindeshöhe einnimmt: */
	display: block;
	min-height: 120px;
	padding: 2px;
	border: 2px solid transparent;
}
.entry-content:focus {
	border: 2px solid orange;
}
.entry-tools {
	display: none;
	position: absolute;
	margin-left: 10px;
}
.ems-item:hover .entry-tools {
	display: inline-block;
}
.entry-tools-decorator-left {
	position: absolute;
	margin-top: 13px;
	margin-left: -29px;
	width: 0px;
	height: 0px;
	border-right: 30px solid orange;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
}
.entry-tools-content {
	position: absolute;
	min-height: 126px;
	min-width: 140px;
	border-radius: 20px;
	border: 1px solid orange;
	border-left: 3px solid orange;
	background-color: white;
	padding: 10px;
	z-index: 1; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.entry-tools-content button {
	position: relative;
	width: 100%;
}
.entry-tools-decorator-right {
	/* unsichtbarer Usability-Block; verhindert allzu schnelles Ausblenden der Toolbox */
	position: absolute;
	margin-left: -30px;
	margin-top: -40px;
	width: 200px;
	height: 230px;
	background-color: transparent;
}

.entry-media {
	max-width: 100%;
	position: relative;
}
.video {
	width: 480px;
	min-height: 270px;
	background-color: lightgrey;
}
.video-status {
	position: absolute;
	left: 0px;
	margin: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: #070707;
	padding: 5px;
}
.video-status-image {
	animation:video-status-image-spin 5s linear infinite;
	-webkit-animation:video-status-image-spin 5s linear infinite;
}
@keyframes video-status-image-spin { 100% { transform:rotate(360deg); } }
@-webkit-keyframes video-status-image-spin { 100% { -webkit-transform:rotate(360deg); } }
.video-status-text {
	font-weight: bold;
}
.video-status-success {
	display: block;
	color: green;
}
.video-status-warning {
	display: block;
	color: yellow;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------- New Entries ----------------------------- */
/* ------------------------------------------------------------------------- */
.new-entry .entry-decorator-left {
	width: 20px;
	height: 20px;
	background-color: white;
	border: 2px solid orange;
	border-radius: 50%;
}
.new-entry .entry-data {
	border: 2px solid orange;
}
.ems-item:hover .new-entry .entry-tools {
	display: none;
}
.entry-edit-tools {
	display: none;
	position: absolute;
	margin-left: 10px;
}
.ems-item:hover .new-entry .entry-edit-tools {
	display: inline-block;
}
.entry-edit-tools-decorator-left {
	position: absolute;
	margin-top: 13px;
	margin-left: -29px;
	width: 0px;
	height: 0px;
	border-right: 30px solid green;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
}
.entry-edit-tools-content {
	position: absolute;
	min-height: 126px;
	min-width: 140px;
	border-radius: 20px;
	border: 1px solid green;
	border-left: 3px solid green;
	background-color: white;
	padding: 10px;
	z-index: 1; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.entry-edit-tools-content button {
	position: relative;
	width: 100%;
}
.entry-edit-tools-decorator-right {
	/* unsichtbarer Usability-Block; verhindert allzu schnelles Ausblenden der Toolbox */
	position: absolute;
	margin-left: -30px;
	margin-top: -40px;
	width: 200px;
	height: 230px;
	background-color: transparent;
}

/* ------------------------------------------------------------------------- */
/* ----------------------------------- Tags -------------------------------- */
/* ------------------------------------------------------------------------- */
.entry-tags {
	display: block;
	border-left: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	border-radius: 10px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.entry-tags button {
	width: 3em;
}
.entry-tags-label {
	display: inline;
	font-weight: bold;
}
button.entry-tags-show-selection-button {
	display: inline;
	float: right;
	font-size: small;
}
.entry-tags-content {
	display: block;
	padding: 3px;
}
.entry-tag {
	display: block;
	position: relative;
	vertical-align: bottom;
	font-size: small;
	background-color: #efefef;
	border: 1px solid #bfbfbf;
	border-radius: 8px;
	padding: 5px;
	margin-top: 5px;
	min-width: 150px;
}
.entry-tag:hover {
	background-color: #ffff8f;
	cursor: default;
}
input.entry-tag {
}
.entry-tag>button {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 1px;
	margin: 1px;
}
.entry-tag-add {
}
.entry-tag-remove {
}

.entry-tags-selection {
	display: block;
	margin-top: 10px;
	background-color: #7f7fff;
	padding: 3px;
	padding-top: 2px;
	border-radius: 10px;
}
.entry-tags-selection-item {
}
.entry-tags-selection-item:hover {
}

.entry-tag-tools {
	display: none;
	position: absolute;
	margin-top: -20px;
	left: -222px;
}
.entry-tag:hover .entry-tag-tools {
	display: inline-block;
}
.entry-tag-tools-decorator-right {
	position: absolute;
	margin-top: 6px;
	margin-left: 212px; /* FIXME: macht statische Toolbreite notwendig */
	width: 0px;
	height: 0px;
	border-left: 12px solid darkblue;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
.entry-tag-tools-content {
	position: absolute;
/* 	background-color: #ffff8f; */
	background-color: white;
	border: 1px solid darkblue;
	border-right: 3px solid darkblue;
	border-radius: 10px;
	width: 200px;
	padding: 5px;
	z-index: 1;
}
.entry-tag-tools-decorator-left {
	position: absolute;
	border-radius: 20px;
	width: 270px;
	min-height: 100px;
	margin-left: -10px;
	margin-top: -15px;
}
.entry-tag-tool {
	display: block;
	padding-left: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.entry-tag-tool button {
	width: 100%;
	text-align: left;
}
.entry-tag-tool:hover {
}
.entry-tag-tool-filter-for {
	background: url(../tango-scalable/actions/system-search.svg) no-repeat 0 0;
	background-size: contain;
}
.entry-tag-tool-filter-exclude {
	background: url(../tango-scalable/actions/list-remove.svg) no-repeat 0 0;
	background-size: contain;
}

/* ------------------------------------------------------------------------- */
/* ---------------------------------- Users -------------------------------- */
/* ------------------------------------------------------------------------- */
.user-image {
	display: block;
	width: 100px;
	height: 100px;
	background-color: white;
	border: 1px solid green;
	border-radius: 10%;
}
.user-image-content {
	width: 100px;
	height: 100px;
	border-radius: 10%;
}
.user-heading {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.user-nick-label {
	display: none;
}
.user-tools {
	display: none;
	position: absolute;
	margin-top: 135px;
	margin-left: -105px;
}
.user-heading:hover+.user-tools {
	display: inline-block;
}
.user-tools:hover {
	display: inline-block;
}
.user-tools-decorator-top {
	position: absolute;
	margin-top: -15px;
	margin-left: 20px;
	width: 0px;
	height: 0px;
	border-bottom: 15px solid green;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	z-index: 2; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.user-tools-decorator-left {
	position: absolute;
	background-color: transparent;
	/* sollte einen konfortablen Fokus-Schutz-Bereich um die Toolbox herum abdecken, damit sie nicht ungewollte verschwindet */
	min-width: 250px;
	min-height: 200px;
	border-radius: 50%;
	margin-top: -100px;
	margin-left: -40px;
	z-index: 1; /* sollte über anderen standardmäßig sichtbaren Elementen, außer der Toolbox liegen */
}
.user-tools-content {
	position: absolute;
	min-width: 160px;
	border-radius: 20px;
	border: 1px solid green;
	border-top: 3px solid green;
	padding: 10px;
	background-color: white;
	z-index: 2; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.user-tools-content button {
	position: relative;
	width: 100%;
}

.user-password-dialog {
	display: inline-block;
	position: absolute;
	min-width: 400px;
	background-color: white;
	border: 3px solid green;
	border-radius: 20px;
	padding: 10px;
	z-index: 3; /* sollte über anderen standardmäßig sichtbaren Elementen erscheinen */
}
.user-password-dialog span {
	display: block;
	margin-bottom: 15px;
}
.user-password-dialog input {
	float: right;
}
.user-password-dialog button {
	float: right;
}
.user-image-dialog {
	display: inline-block;
	position: absolute;
	text-align: center;
	min-width: 400px;
	background-color: white;
	border: 3px solid green;
	border-radius: 20px;
	padding: 10px;
	z-index: 3; /* sollte über anderen standardmäßig sichtbaren Elementen erscheinen */
}
.user-image-dialog span {
	display: block;
	margin-bottom: 15px;
}
.user-image-preview {
	text-align: center;
	border: 2px dashed red;
	width: 200px;
	height: 200px;
	margin-left: 25%;
	border-radius: 10%;
}
.user-image-preview-over {
	background-color: lightblue;
}
.user-image-preview-content {
	width: 200px;
	height: 200px;
	border-radius: 10%;
}
.user-image-info {
	display: block;
	clear: both;
}
.user-image-title {
	display: inline;
	font-weight: bold;
}
.user-image-type {
	display: inline;
	font-size: small;
}
.user-image-size {
	display: inline;
}
.user-image-dialog>button {
	float: right;
}
.user-details-dialog {
	display: inline-block;
	position: absolute;
	min-width: 400px;
	background-color: white;
	border: 3px solid green;
	border-radius: 20px;
	padding: 10px;
	z-index: 3; /* sollte über anderen standardmäßig sichtbaren Elementen erscheinen */
}
.user-details-dialog span {
	display: block;
	margin-bottom: 15px;
}
.user-details-dialog input {
	float: right;
}
.user-details-dialog button {
	float: right;
}

.user-details-groups {
	display: block;
	border-left: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	border-radius: 10px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.user-details-groups span {
	display: inline;
	margin: 0px;
}
.user-details-groups button {
	float: none;
	width: 3em;
}
.user-groups-content {
	display: block;
	padding: 3px;
}

span.user-groups-selection {
	display: block;
	margin-top: 10px;
	background-color: lightgreen;
	padding: 3px;
	padding-top: 2px;
	border-radius: 10px;
}
.user-groups-selection-item {
}
.user-groups-selection-item:hover {
}

.user-details-groups .ems-group {
	display: block;
	position: relative;
	vertical-align: bottom;
	font-size: small;
	background-color: #efefef;
	border: 1px solid #bfbfbf;
	border-radius: 8px;
	padding: 5px;
	margin-top: 5px;
	min-width: 150px;
}
.user-details-groups .ems-group button {
	position: absolute;
	top: 1px;
	right: 2px;
}
.user-details-groups .ems-group:hover {
	background-color: #ffff8f;
	cursor: default;
}
.user-details-groups .group-heading {
	display: inline;
}
.user-details-groups .group-title {
	display: none;
}
.user-details-groups .group-description {
	display: inline;
}
.user-details-groups .group-name {
	display: inline;
}
.user-details-groups .group-content {
	display: inline;
}


/* ------------------------------------------------------------------------- */
/* --------------------------------- Groups -------------------------------- */
/* ------------------------------------------------------------------------- */
.group-heading {
	display: none;
}


/* ------------------------------------------------------------------------- */
/* --------------------------------- Status -------------------------------- */
/* ------------------------------------------------------------------------- */
.ems-status {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	z-index: 100;
}
.ems-status-active {
	display: block;
}
.ems-status-box {
	display: block;
	position: relative;
	text-align: center;
	background-color: white;
	border: 3px solid lightgrey;
	border-radius: 20px;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
}
.ems-message {
	display: none;
	text-align: left;
	background-color: white;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}
.ems-message-active {
	display: block;
}
.ems-message-label {
	float: left;
	font-weight: bold;
	margin-right: 20px;
	margin-bottom: 10px;
}
.ems-message-content {
	display: inline-block;
}
.ems-error {
	display: none;
	text-align: left;
	background-color: white;
	border: 1px dashed red;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}
.ems-error-active {
	display: block;
}
.ems-error-label {
	float: left;
	font-weight: bold;
	margin-right: 20px;
	margin-bottom: 10px;
}
.ems-error-content {
	display: inline-block;
	font-family: monospace;
	white-space: pre;
}


/* ------------------------------------------------------------------------- */
/* --------------------------------- Upload -------------------------------- */
/* ------------------------------------------------------------------------- */
.upload-dialog {
	display: inline-block;
	text-align: center;
	max-width: 90%;
	background-color: white;
	border: 1px dashed orange;
	padding: 10px;
	margin: 10px;
	z-index: 3; /* sollte über anderen standardmäßig sichtbaren Elementen erscheinen */
}
.upload-manual {
	display: block;
	margin-bottom: 15px;
}
.upload-preview {
	display: block;
	margin-bottom: 15px;
	border: 2px dashed red;
	min-width: 200px;
	min-height: 200px;
	padding: 10px;
}
.upload-progress {
	display: block;
	min-height: 200px;
	width: 0%;
	background-color: lightblue;
	color: darkgrey;
	font-size: 40pt;
	text-align: left;
}
.upload-preview-over {
	background-color: lightblue;
}
.upload-preview-content {
	max-width: 100%;
}
.upload-preview>.download-link {
	margin-top: 73px;
}
.upload-info {
	display: block;
	margin-bottom: 15px;
	clear: both;
}
.upload-title {
	display: inline;
	font-weight: bold;
}
.upload-type {
	display: inline;
	font-size: small;
}
.upload-size {
	display: inline;
}
.upload-dialog>button {
	float: right;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------- Downloads   ----------------------------- */
/* ------------------------------------------------------------------------- */
.download-icon {
	width: 50px;
	height: 50px;
}
.download-link {
	padding: 5px;
	background-color: lightblue;
	border-radius: 20px;
	border: 1px solid black;
	color: black;
	text-decoration: none;
}
.download-title {
	font-weight: bold;
	padding-left: 10px;
}
.download-size {
	font-size: small;
	padding-left: 10px;
}

/* ------------------------------------------------------------------------- */
/* ---------------------------------- Filter ------------------------------- */
/* ------------------------------------------------------------------------- */
.page-filter {
	display: none;
	border-radius: 8px;
	border: 1px solid #bfbfbf;
	background-color: #efefef;
	padding: 2px;
}
.page-filter-active {
	display: inline-block;
}
.page-filter-view {
	display: inline-block;
	border-radius: 5px;
}
.filter-item-include {
	background: url(../tango-scalable/actions/system-search.svg) no-repeat 0 0;
	background-size: contain;
}
.filter-item-exclude {
	background: url(../tango-scalable/actions/list-remove.svg) no-repeat 0 0;
	background-size: contain;
}
.filter-item {
	display: inline-block;
	border-radius: 5px;
	border: 1px solid darkblue;
	margin: 1px;
	min-height: 16px;
	padding: 2px;
	padding-left: 20px;
	background-color: #ffff8f;
}
.filter-item:hover {
	background: url(../tango-scalable/actions/edit-clear.svg) no-repeat 0 0;
	background-size: contain;
/* 	text-decoration: line-through; */
	color: grey;
	background-color: #efefef;
	border: 1px solid #bfbfbf;
	cursor: pointer;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------ Page-Status ------------------------------ */
/* ------------------------------------------------------------------------- */
.page-status {
}
.status-icon {
	height: 32px;
}

/* ------------------------------------------------------------------------- */
/* ----------------------- GUI Element Notifications ----------------------- */
/* ------------------------------------------------------------------------- */
.highlight {
	border-radius: 10px;
	padding: 8px;
	animation:red-to-white 2s ease-out 0.5s 10;
}
@keyframes red-to-white {
	from {
		background-color: red;
	}
	to {
		background-color: white;
	}
}
