.ems-content {
}

.ems-entry {
	display: inline;
}
.entry-decorator-left {
	position: absolute;
	margin-top: 30px;
	margin-left: -16px;
	width: 35px;
	height: 52px;
	background:url(../images/speech-connector.svg) no-repeat 0 0;
}
.entry-data {
	display: inline-block;
	vertical-align: top;
	margin-left: 17px;
	margin-bottom: 10px;
	border-radius: 20px;
	border: 2px solid grey;
	padding: 10px;
	min-height: 110px;
	width: 60%;
}
.entry-title-label {
	display: none;
}
.entry-heading {
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 10px;
}

.entry-tools {
	display: none;
	position: absolute;
	margin-left: 10px;
}
.ems-entry:hover .entry-tools {
	display: inline-block;
}
.entry-tools-decorator-left {
	position: absolute;
	margin-left: -40px;
	width: 0px;
	height: 0px;
	border-right: 40px solid orange;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
}
.entry-tools-content {
	position: absolute;
	margin-top: 30px;
	width: 150px;
	height: 60px;
	background-color: orange;
}
.entry-tools-decorator-top {
	position: absolute;
	margin-top: 0px;
	width: 150px;
	height: 30px;
	background-color: transparent;
}
.entry-tools-decorator-bottom {
	position: absolute;
	margin-top: 90px;
	width: 150px;
	height: 30px;
	background-color: transparent;
}
.entry-tools-decorator-right {
	position: absolute;
	margin-left: 150px;
	width: 30px;
	height: 120px;
	background-color: transparent;
}

.ems-user {
	display: block;
}
.user-image {
	display: block;
	width: 100px;
	height: 100px;
	background-color: lightblue;
}
.user-heading {
	display: inline-block;
	vertical-align: top;
}
.user-nick-label {
	display: none;
}

.ems-group {
	display: block;
}
.group-heading {
	display: none;
}