body {
	background-color: #f0f0f0;
	font-family: sans-serif;
	font-size: 10.5pt;
}

button {
	border: 1px solid grey;
	border-radius: 3px;
	background-color: #dfdfdf;
}
button:hover {
	background-color: #f0f0f0;
}

.page-menu {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #dfdfdf;
	border-bottom: 1px solid #bfbfbf;
	padding-top: 5px;
	padding-bottom: 3px;
	z-index: 50;
}
.page-menu>* {
	/* workaround: left padding in page-menu leads to width of >100% and creates horizontal scroll bar */
	margin-left: 5px;
}
.ems-menu {
	display: block;
}
.menu-title {
	display: inline-block;
	font-weight: bold;
}
.menu-widgets {
	position: absolute;
	display: inline-block;
	top: 5px;
	right: 20px;
	font-size: small;
	background-color: rgba(223,223,223,0.9);
	border-bottom: 1px solid rgba(223,223,223,1);
	border-left: 1px solid rgba(223,223,223,1);
	border-radius: 5px;
	z-index: 1;
}
.menu-language-widget {
	display: inline-block;
}
.menu-language-label {
	display: inline-block;
}
.menu-style-widget {
	display: inline-block;
}
.menu-style-label {
	display: inline-block;
}
.menu-login-widget {
	display: inline-block;
}
.menu-account-info {
	display: inline-block;
}
.menu-account-label {
	display: inline-block;
}
.menu-account-nick {
	display: inline-block;
	font-weight: bold;
}

.page-widgets {
	display: block;
	white-space: nowrap;
	margin-bottom: 2px;
}
.page-widgets .page-widgets-left-stack {
	display: inline-block;
	vertical-align: bottom; /* https://stackoverflow.com/questions/1518576/unwanted-padding-bottom-of-a-div */
}
.page-widgets .page-widgets-right-stack {
	display: inline; /* wtf, somehow need this for child absolute positioning to work */
}
.page-widgets .new-entry-button {
	display: block;
	margin-top: 3px;
}

.ems-content {
	margin-top: 8em;
}


.ems-item {
	display: inline;
}

/* ------------------------------------------------------------------------- */
/* --------------------------------- Entries ------------------------------- */
/* ------------------------------------------------------------------------- */
.ems-entry {
	display: block;
}
.entry-metadata {
	width: 110px;
	display: inline-block;
	text-align: center;
}
.entry-author {
	display: inline-block;
}
.entry-decorator-left {
	position: absolute;
	margin-top: 30px;
	margin-left: 90px;
	width: 35px;
	height: 52px;
	background:url(../images/speech-connector.svg) no-repeat 0 0;
}
.entry-bubble {
	display: inline-block;
	vertical-align: top;
	margin-left: 9px;
	margin-bottom: 10px;
	border-radius: 20px;
	border: 2px solid lightblue;
	background-color: white;
	padding: 10px;
	min-height: 110px;
	width: 60%;
}
.entry-title-label {
	display: none;
}
.entry-title-line{
	display: block;
}
.entry-title {
	display: block; /* erleichtert das anklicken des Titels beim Editieren, da er die ganze Breite einnimmt */
	font-weight: bold;
	text-decoration: underline;
	padding: 2px;
	padding-bottom: 10px;
	border: 2px solid transparent;
}
.entry-title:focus {
	border: 2px solid orange;
}
.entry-publication {
	display: none;
	position: relative;
	float:right;
	top: -2em;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
}
.entry-publication-active {
	display: inline;
}
.entry-time {
	display: inline-block;
	margin-top: 2px;
	margin-left: -14px;
}
.entry-mtime {
	display: block;
	padding-left: 20px;
	padding-bottom: 4px;
	background:url(../silk_icons/date_edit.png) no-repeat 0 0;
	font-size: 0.8em;
	text-align: center;
}
.entry-mtime-label {
	display: none;
}
.entry-mtime-day {
	display: block;
}
.entry-mtime-time {
	display: block;
}
.entry-ctime {
	display: block;
	padding-left: 20px;
	padding-bottom: 4px;
	background:url(../silk_icons/date.png) no-repeat 0 0;
	font-size: 0.8em;
	text-align: center;
}
.entry-ctime-label {
	display: none;
}
.entry-ctime-day {
	display: block;
}
.entry-ctime-time {
	display: block;
}

.entry-content {
	/* Anklicken des Inhalts beim Editieren vereinfachen, indem er die ganze Breite und eine Mindeshöhe einnimmt: */
	display: block;
	min-height: 120px;
	padding: 2px;
	border: 2px solid transparent;
}
.entry-content:focus {
	border: 2px solid orange;
}
.entry-tools {
	display: none;
	position: absolute;
	margin-left: 10px;
}
.ems-item:hover .entry-tools {
	display: inline-block;
}
.entry-tools-decorator-left {
	position: absolute;
	margin-top: 13px;
	margin-left: -29px;
	width: 0px;
	height: 0px;
	border-right: 30px solid orange;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
}
.entry-tools-content {
	position: absolute;
	min-height: 126px;
	min-width: 180px;
	border-radius: 20px;
	border: 1px solid orange;
	border-left: 3px solid orange;
	background-color: white;
	padding: 10px;
	z-index: 1; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.entry-tools-content button {
	position: relative;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}
.entry-tools-button-symbol {
    position: absolute;
	height: 90%;
	left: 0;
}
button.entry-response-button {
	font-size: larger;
}
button.entry-delete-button {
	width: 50%;
	margin-left: 50%;
	font-size: smaller;
}
.entry-tools-decorator-right {
	/* unsichtbarer Usability-Block; verhindert allzu schnelles Ausblenden der Toolbox */
	position: absolute;
	margin-left: -30px;
	margin-top: -40px;
	width: 250px;
	height: 230px;
	background-color: transparent;
}

.entry-media {
	display: inline-block;
	max-width: 100%;
	position: relative;
}
.video {
	width: 480px;
	min-height: 270px;
	background-color: black;
}
.video-status {
	display: inline-block;
	position: absolute;
	left: 0px;
	margin: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: #070707;
	padding: 5px;
}
.video-status-image {
	animation:video-status-image-spin 5s linear infinite;
	-webkit-animation:video-status-image-spin 5s linear infinite;
}
@keyframes video-status-image-spin { 100% { transform:rotate(360deg); } }
@-webkit-keyframes video-status-image-spin { 100% { -webkit-transform:rotate(360deg); } }
.video-status-text {
	font-weight: bold;
}
.video-status-success {
	display: block;
	color: green;
}
.video-status-warning {
	display: block;
	color: yellow;
}
.video-variants {
	display: none;
}
.entry-media:hover .video-variants {
	position: absolute;
	display: block;
	width: 100%;
	border: none;
	margin-top: -5px;
	background-color: rgba(0,0,0,0.85);
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	text-align: center;
	font-family: sans;
	font-size: small;
	z-index: 1; /* render above subsequent video elements */
}
.video-variant {
	border-radius: 10px;
}
.video-variant:hover {
	background-color: rgba(200,200,200,0.85);
}
.video-variant.canplay {
	color: lightgreen;
}
.video-variant.canplay:hover {
	color: black;
}
.video-variant.cannotplay {
	color: red;
}
.video-variant.cannotplay:hover {
	color: darkred;
}
.video-variant.selected {
	font-size: medium;
	font-weight: bold;
	color: white;
}
.video-variant .download-link {
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 1px;
	margin-left: 20px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 5px;
	border: none;
	color: black;
	text-decoration: none;
}

.video-variant .download-icon {
	height: 20px;
	width: 20px;
}
.video-variant .download-title {
	display: none;
}
.video-variant .download-size {
	display: inline;
	margin-left: -3px;
	font-weight: normal;
	font-size: x-small;
}

.image-expander {
	position: relative;
}
.image {
	position: relative;
}
.image-rotate-grip {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	position: absolute;
	font-size: 64px;
	left: 5px;
	top: 40%;
}
.image-expander:hover .image-rotate-grip {
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}
.image-rotate-grip>div {
	border-radius: 10px;
	border: 1px solid black;
}
.image-rotate-symbol {
	color: red;
	background-color: white;
	opacity: 0.5;
	position: absolute;
}
.image-rotate-symbol:hover {
	opacity: 1;
	cursor: grab;
}
.image-rotate-left, .image-rotate-right {
	color: red;
	background-color: white;
	position: absolute;
}
.image-rotate-left {
	left: -1.5em;
}
.image-rotate-right {
	left: 1.5em;
}


.text-marking {
	background-color: yellow;
}
.text-marking-off {
	background-color: white;
}
.text-bold {
	font-weight: bold;
}
.text-bold-off {
	font-weight: normal;
}
.text-italic {
	font-style: italic;
}
.text-italic-off {
	font-style: normal;
}
.text-fixed {
	font-family: monospace;
}
.text-fixed-off {
	font-family: sans-serif;
}
.text-underline {
	text-decoration: underline;
}
.text-underline-off {
	/* FIXME: Disabling text-decoration only works for block and inline-block elements,
	 * so we set display:inline-block as a hack. Also this approach results in having
	 * more than one way to disable any supported text-decoration style which might
	 * be confusing to users... */
	display: inline-block;
	text-decoration: none;
}
.text-strikethrough {
	text-decoration: line-through;
}
.text-strikethrough-off {
	/* FIXME: See .text-underline-off */
	display: inline-block;
	text-decoration: none;
}
.text-overline {
	text-decoration: overline;
}
.text-overline-off {
	/* FIXME: See .text-underline-off */
	display: inline-block;
	text-decoration: none;
}
.text-larger {
	font-size: larger;
}
.text-smaller {
	font-size: smaller;
}
.block-quote {
	padding: 2mm;
	padding-left: 5mm;
	padding-right: 5mm;
	background-color: #f8f5f1;
	border: 1px dashed black;
	border-radius: 2mm;
}

.link-tool {
	display: inline-block;
	position: relative;
	top: 1.2em;
	left: -3em;
}
.link-tool-decorator-top {
	position: absolute;
	margin-top: -15px;
	margin-left: 20px;
	width: 0px;
	height: 0px;
	border-bottom: 15px solid darkviolet;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	z-index: 2; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.link-tool-content {
	position: absolute;
	min-width: 400px;
	border-radius: 20px;
	border: 1px solid darkviolet;
	border-top: 3px solid darkviolet;
	padding: 10px;
	background-color: white;
	z-index: 2; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.link-tool-option {
	display: flex;
}
.link-tool-option + .link-tool-option {
	margin-top: 1em;
}
.link-tool-title {
	display: inline-block;
	min-width: 3em;
	padding-top: 3px;
}
.link-tool-value {
	width: 100%;
	border: 1px solid darkviolet;
	border-radius: 5px;
	padding: 3px;
}
.link-tool-buttons {
	text-align: right;
	margin-top: 1em;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------- New Entries ----------------------------- */
/* ------------------------------------------------------------------------- */
.new-entry .entry-decorator-left {
	position: absolute;
	margin-top: 30px;
	margin-left: 90px;
	width: 20px;
	height: 20px;
	background-color: white;
	border: 2px solid orange;
	border-radius: 50%;
}
.new-entry .entry-bubble {
	border: 2px solid orange;
}
.entry-edit-toolbar {
	display: none;
}
.entry-edit-range-tools {
	display: inline-block;
}
.entry-edit-range-tools-symbols img {
	height: 3em;
}
.entry-edit-range-tools-symbols .keysym-ctrl {
	opacity: 0.5;
}
.entry-edit-list-tools {
	display: inline-block;
	margin-left: 1em;
}
.entry-edit-list-tools-symbols img {
	height: 3em;
}
.new-entry .entry-tools {
	display: none;
}
.entry-edit-tools {
	display: none;
	position: absolute;
	margin-left: 10px;
}
.new-entry .entry-edit-tools {
	display: inline-block;
}
.entry-edit-tools-decorator-left {
	position: absolute;
	margin-top: 13px;
	margin-left: -29px;
	width: 0px;
	height: 0px;
	border-right: 30px solid green;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
}
.entry-edit-tools-content {
	position: absolute;
	min-height: 126px;
	min-width: 180px;
	border-radius: 20px;
	border: 1px solid green;
	border-left: 3px solid green;
	background-color: white;
	padding: 10px;
	z-index: 1; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.entry-edit-tools-content button {
	position: relative;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}
button.entry-edit-send-button {
	font-size: larger;
}
button.entry-edit-discard-button {
	width: 50%;
	margin-left: 50%;
	font-size: smaller;
}
.entry-edit-tools-decorator-right {
	/* unsichtbarer Usability-Block; verhindert allzu schnelles Ausblenden der Toolbox */
	position: absolute;
	margin-left: -30px;
	margin-top: -40px;
	width: 250px;
	height: 230px;
	background-color: transparent;
}

/* ------------------------------------------------------------------------- */
/* ----------------------------------- Tags -------------------------------- */
/* ------------------------------------------------------------------------- */
.entry-tags {
	display: block;
	border-left: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	border-radius: 10px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.entry-tags button {
	width: 3em;
}
.entry-tags-label {
	display: inline;
	font-size: small;
}
button.entry-tags-show-selection-button {
	display: inline-block;
	font-size: small;
}
.entry-tags-content {
	display: block;
	padding: 3px;
}
.entry-tag {
	display: block;
	position: relative;
	vertical-align: bottom;
	font-weight: bold;
	background-color: #efefef;
	border: 1px solid #bfbfbf;
	border-radius: 8px;
	padding: 5px;
	margin-top: 5px;
	min-width: 150px;
}
.entry-tag:hover {
	background-color: #ffff8f;
	cursor: default;
}
input.entry-tag {
}
.entry-tag-label {
	display: inline-block;
}
.entry-tag>button {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 2px;
	font-size: small;
}
.entry-tag-add {
}
.entry-tag-remove {
}
.entry-tag-new .entry-tag {
	background-color: #ffdfdf;
}

.entry-tags-selection {
	display: block;
	margin-top: 10px;
	padding: 3px;
	padding-top: 2px;
	border: 1px solid red;
	border-radius: 10px;
	position: relative;
}
.entry-tags-close-selection-button {
	width: 0.8em;
	height: 0.8em;
	border: 1px solid red;
	border-radius: 0.4em;
	background-color: white;
	position: absolute;
	top: -0.48em;
	right: -0.48em;
	z-index: 10;
}
.entry-tags-close-selection-button:hover {
	width: 1.2em;
	height: 1.2em;
	border: 4px solid red;
	border-radius: 0.8em;
	background-color: white;
	top: -0.9em;
	right: -0.9em;
}
.entry-tags-searchbar {
	display: inline-block;
}
.entry-tags-search-result {
	padding-top: 1em;
	padding-bottom: 3em;
}
.entry-tags-search-result-scroll-container-hack {
}
.entry-tags-add-new {
	display: inline-block;
}
.entry-tags-selection-item {
	font-weight: normal;
	font-size: small;
}
.entry-tags-selection-item:hover {
}

.entry-tag-tools {
	display: none;
	position: absolute;
	margin-top: -20px;
	left: -222px;
}
.entry-tag:hover .entry-tag-tools {
	display: inline-block;
}
.entry-tag-tools-decorator-right {
	position: absolute;
	margin-top: 6px;
	margin-left: 212px; /* FIXME: macht statische Toolbreite notwendig */
	width: 0px;
	height: 0px;
	border-left: 12px solid darkblue;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
.entry-tag-tools-content {
	position: absolute;
/* 	background-color: #ffff8f; */
	background-color: white;
	border: 1px solid darkblue;
	border-right: 3px solid darkblue;
	border-radius: 10px;
	width: 200px;
	padding: 5px;
	z-index: 1;
}
.entry-tag-tools-decorator-left {
	position: absolute;
	border-radius: 20px;
	width: 270px;
	min-height: 100px;
	margin-left: -10px;
	margin-top: -15px;
}
.entry-tag-tool {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}
.entry-tag-tool button {
	width: 100%;
	text-align: left;
}
.entry-tag-tool-button {
	padding-left: 1.5em;
}
.entry-tag-tool-button-symbol {
	position: absolute;
	left: 0px;
	height: 90%;
}

/* ------------------------------------------------------------------------- */
/* ---------------------------------- Users -------------------------------- */
/* ------------------------------------------------------------------------- */
.ems-user {
	display: inline-block;
}
.user-image {
	display: block;
	width: 100px;
	height: 100px;
	background-color: white;
	border: 1px solid green;
	border-radius: 10%;
	margin-bottom: 3px;
}
.user-image-content {
	width: 100px;
	height: 100px;
	border-radius: 10%;
}
.user-heading {
	display: inline-block;
	vertical-align: top;
}
.user-nick-label {
	display: none;
}
.user-nick {
	font-weight: bold;
}
.user-content {
	display: inline;
}
.user-tools {
	display: none;
	position: absolute;
	margin-top: +12px;
}
.user-heading:hover+.user-tools {
	display: block;
}
.user-tools:hover {
	display: block;
}
.user-tools-decorator-top {
	position: absolute;
	margin-top: -15px;
	margin-left: 20px;
	width: 0px;
	height: 0px;
	border-bottom: 15px solid green;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	z-index: 2; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.user-tools-decorator-left {
	position: absolute;
	background-color: transparent;
	/* sollte einen konfortablen Fokus-Schutz-Bereich um die Toolbox herum abdecken, damit sie nicht ungewollte verschwindet */
	min-width: 250px;
	min-height: 200px;
	border-radius: 50%;
	margin-top: -100px;
	margin-left: -40px;
	z-index: 1; /* sollte über anderen standardmäßig sichtbaren Elementen, außer der Toolbox liegen */
}
.user-tools-content {
	position: absolute;
	min-width: 160px;
	border-radius: 20px;
	border: 1px solid green;
	border-top: 3px solid green;
	padding: 10px;
	background-color: white;
	z-index: 2; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.user-tools-content button {
	position: relative;
	width: 100%;
}

.user-password-dialog {
	display: inline-block;
	position: absolute;
	min-width: 400px;
	background-color: white;
	border: 3px solid green;
	border-radius: 20px;
	padding: 10px;
	z-index: 3; /* sollte über anderen standardmäßig sichtbaren Elementen erscheinen */
}
.user-password-dialog div {
	display: block;
	margin-bottom: 15px;
}
.user-password-dialog input {
	float: right;
}
.user-password-dialog button {
	float: right;
}
.user-image-dialog {
	display: inline-block;
	position: absolute;
	text-align: center;
	min-width: 400px;
	background-color: white;
	border: 3px solid green;
	border-radius: 20px;
	padding: 10px;
	z-index: 3; /* sollte über anderen standardmäßig sichtbaren Elementen erscheinen */
}
.user-image-dialog div {
	display: block;
	margin-bottom: 15px;
}
.user-image-preview {
	text-align: center;
	border: 2px dashed red;
	width: 200px;
	height: 200px;
	margin-left: 25%;
	border-radius: 10%;
}
.user-image-preview-over {
	background-color: lightblue;
}
.user-image-preview-content {
	width: 200px;
	height: 200px;
	border-radius: 10%;
}
.user-image-info {
	display: block;
	clear: both;
}
.user-image-title {
	display: inline;
	font-weight: bold;
}
.user-image-type {
	display: inline;
	font-size: small;
}
.user-image-size {
	display: inline;
}
.user-image-dialog>button {
	float: right;
}
.user-details-dialog {
	display: inline-block;
	position: absolute;
	min-width: 400px;
	background-color: white;
	border: 3px solid green;
	border-radius: 20px;
	padding: 10px;
	z-index: 3; /* sollte über anderen standardmäßig sichtbaren Elementen erscheinen */
}
.user-details-dialog div {
	display: block;
	margin-bottom: 15px;
}
.user-details-dialog input {
	float: right;
}
.user-details-dialog button {
	float: right;
}

.user-details-groups {
	display: block;
	border-left: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	border-radius: 10px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.user-details-groups div {
	display: inline;
	margin: 0px;
}
.user-details-groups button {
	float: none;
	width: 3em;
}
.user-groups-content {
	display: block;
	padding: 3px;
}

div.user-groups-selection {
	display: block;
	margin-top: 10px;
	background-color: lightgreen;
	padding: 3px;
	padding-top: 2px;
	border-radius: 10px;
}
.user-groups-selection-item {
}
.user-groups-selection-item:hover {
}

.user-details-groups .ems-group {
	display: block;
	position: relative;
	vertical-align: bottom;
	font-size: small;
	background-color: #efefef;
	border: 1px solid #bfbfbf;
	border-radius: 8px;
	padding: 5px;
	margin-top: 5px;
	min-width: 150px;
}
.user-details-groups .ems-group button {
	position: absolute;
	top: 1px;
	right: 2px;
}
.user-details-groups .ems-group:hover {
	background-color: #ffff8f;
	cursor: default;
}
.user-details-groups .group-heading {
	display: inline;
}
.user-details-groups .group-title {
	display: none;
}
.user-details-groups .group-description {
	display: inline;
}
.user-details-groups .group-name {
	display: inline;
}
.user-details-groups .group-content {
	display: inline;
}


/* ------------------------------------------------------------------------- */
/* --------------------------------- Groups -------------------------------- */
/* ------------------------------------------------------------------------- */
.group-heading {
	display: none;
}


/* ------------------------------------------------------------------------- */
/* --------------------------------- Status -------------------------------- */
/* ------------------------------------------------------------------------- */
.statusbar {
	position: fixed;
	font-family: monospace;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 25%;
	background-color: #dfdfdf;
	border-top: 1px solid #bfbfbf;
	z-index: 50;
}
.statusbar.minimized {
	height: 0;
}
.statusbar.maximized {
	height: 100%;
}
.statusbar-buttons {
	position: absolute;
	right: 0px;
	top: 0px;
}
.statusbar-buttons>button {
}
.minimized .statusbar-buttons {
	top: -2em;
}
.statusbar-content {
	padding: 5px;
	/* https://stackoverflow.com/questions/10154250/scroll-part-of-content-in-fixed-position-container */
	height: 95%;
	overflow-y: scroll;
}
.statusbar-content .message {
}
.statusbar-content .message>div {
	vertical-align: top;
}
.statusbar-content .error {
	color: darkred;
}
.message-emblem {
	display: inline-block;
	height: 1em;
	width: 1em;
	border-radius: 3px;
	background-color: yellow;
}
.error .message-emblem {
	background-color: red;
}
.message-time {
	display: inline-block;
	width: 1.5cm;
}
.message-source {
	display: inline-block;
	width: 2cm;
}
.message-text {
	display: inline-block;
	white-space: pre-wrap;
}


/* ------------------------------------------------------------------------- */
/* --------------------------------- Upload -------------------------------- */
/* ------------------------------------------------------------------------- */
.upload-dialog {
	display: inline-block;
	text-align: center;
/* 	max-width: 90%; */
	background-color: white;
	border: 1px dashed orange;
	padding: 10px;
	margin: 10px;
	z-index: 3; /* sollte über anderen standardmäßig sichtbaren Elementen erscheinen */
}
.mini.upload-dialog {
	border: none;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	background-color: transparent;
}
.upload-manual {
	display: block;
	margin-bottom: 15px;
}
.mini.upload-dialog .upload-manual {
	display: none;
}
.upload-preview {
/* 	position: relative; */
	 /* upload-content selbst soll wieder left-aligned sein 
	    und nicht center von upload-dialog erben: */
	text-align: left;
	display: inline-block;
	margin-bottom: 15px;
	border: 2px dashed red;
	min-width: 200px;
	min-height: 200px;
	padding: 10px;
/* 	max-width: 90%; */
}
.mini.upload-dialog .upload-preview {
	margin: 0;
	border: 1px dashed red;
	min-width: 60px;
	min-height: 60px;
	max-width: 200px;
	max-height: 60px;
	padding: 0;
}
.upload-progress {
	display: block;
	min-height: 200px;
	width: 0%;
	background-color: lightblue;
	color: darkgrey;
	font-size: 40pt;
	text-align: left;
}
.mini.upload-dialog .upload-progress {
	min-height: 50px;
	font-size: 8pt;
	color: black;
}
.upload-preview-over {
	background-color: lightblue;
}
.upload-preview-content {
	max-width: 100%;
}
.upload-preview>.download-link {
	margin-top: 73px;
}
.upload-chooser {
	display: block;
	margin-bottom: 1em;
}
.mini.upload-dialog .upload-chooser {
	display: none;
}
.upload-info {
	display: block;
	margin-bottom: 15px;
	clear: both;
}
.mini.upload-dialog .upload-info {
	display: none;
}
.upload-status {
	position: absolute;
	right: 5px;
	top: 5px;
}
.upload-status div {
	background-size: contain;
	width: 2em;
	height: 2em;
}
.upload-status .uploading {
	display: block;
	background-image: url(../tango-scalable/actions/go-up.svg);
	animation:upload-uploading-translation 2s linear infinite;
	-webkit-animation:upload-uploading-translation 2s linear infinite;
}
@keyframes upload-uploading-translation { 100% { transform:translateY(-10px); } }
@-webkit-keyframes upload-uploading-translation { 100% { -webkit-transform:translateY(-10px); } }
.upload-status .recovering {
	display: block;
	background-image: url(../tango-scalable/actions/view-refresh.svg);
	animation:upload-recovering-rotation 2s linear infinite;
	-webkit-animation:upload-recovering-rotation 2s linear infinite;
}
@keyframes upload-recovering-rotation { 100% { transform:rotate(360deg); } }
@-webkit-keyframes upload-recovering-rotation { 100% { -webkit-transform:rotate(360deg); } }
.upload-status .failed {
	display: block;
	background-image: url(../tango-scalable/status/dialog-warning.svg);
}
.upload-status .complete {
	display: block;
	background-image: url(../tango-scalable/actions/go-top.svg);
}
.upload-status .aborted {
	display: block;
	background-image: url(../tango-scalable/actions/process-stop.svg);
}
.upload-status .paused {
	display: block;
	background-image: url(../tango-scalable/actions/media-playback-pause.svg);
}
.upload-title {
	display: inline;
	font-weight: bold;
}
.upload-type {
	display: inline;
	font-size: small;
}
.upload-size {
	display: inline;
}
.upload-poster {
	display: none;
}
.upload-poster-caption {
	display: block;
}
.upload-poster-manual {
	display: inline-block;
	font-size: 13pt;
	margin-top: 1em;
	margin-right: 1em;
}
.upload-poster-from-offset {
	display: inline-block;
	margin-left: 1em;
}
.upload-dialog>button {
	float: right;
}
.mini.upload-dialog>button {
	display: none;
}
.upload-pause {
	display: none;
}
.upload-resume {
	display: none;
}

.recent-uploads {
	display: none;
	position: absolute;
	margin-left: 10px;
	z-index: 2;
	text-align: left;
}
.recent-uploads-visible:hover .recent-uploads {
	display: inline-block;
}
.recent-uploads-decorator-left {
	position: absolute;
	margin-top: 13px;
	margin-left: -28px;
	width: 0px;
	height: 0px;
	border-right: 30px solid red;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
}
.recent-uploads-content {
	position: absolute;
	min-height: 200px;
	min-width: 140px;
	max-width: 500px;
	border-radius: 20px;
	border: 1px solid red;
	border-left: 3px solid red;
	background-color: white;
	padding: 10px;
	z-index: 2; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.recent-uploads-decorator-right {
	/* unsichtbarer Usability-Block; verhindert allzu schnelles Ausblenden der Toolbox */
	position: absolute;
	margin-left: -30px;
	margin-top: -40px;
	width: 600px;
	height: 550px;
	background-color: transparent;
}
.recent-uploads-selection {
	display: block;
	margin-top: 10px;
	padding: 3px;
	padding-top: 2px;
	border: 1px solid red;
	border-radius: 10px;
	position: relative;
}
.recent-uploads-close-selection-button {
	width: 0.8em;
	height: 0.8em;
	border: 1px solid red;
	border-radius: 0.4em;
	background-color: white;
	position: absolute;
	top: -0.48em;
	right: -0.48em;
	z-index: 10;
}
.recent-uploads-close-selection-button:hover {
	width: 1.2em;
	height: 1.2em;
	border: 4px solid red;
	border-radius: 0.8em;
	background-color: white;
	top: -0.9em;
	right: -0.9em;
}
.recent-uploads-searchbar {
	display: inline-block;
}
.recent-uploads-search-result {
	padding-top: 1em;
	padding-bottom: 3em;
}
.recent-uploads-search-result-scroll-container-hack {
}

/* ------------------------------------------------------------------------- */
/* ------------------------------- Downloads   ----------------------------- */
/* ------------------------------------------------------------------------- */
.download-icon {
	position: relative;
	bottom: -5px;
	width: 50px;
	height: 50px;
}
.download-link {
	padding: 5px;
	background-color: lightblue;
	border-radius: 20px;
	border: 1px solid black;
	color: black;
	text-decoration: none;
}
.download-title {
	display: inline-block;
	font-weight: bold;
	padding-left: 10px;
}
.download-size {
	display: inline-block;
	font-size: small;
	padding-left: 10px;
}

/* ------------------------------------------------------------------------- */
/* ---------------------------------- Filter ------------------------------- */
/* ------------------------------------------------------------------------- */
.page-filter {
	display: none;
	border-radius: 8px;
	border: 1px solid #bfbfbf;
	background-color: #efefef;
	padding: 2px;
}
.page-filter-active {
	display: inline-block;
}
.page-filter-view {
	display: inline-block;
	border-radius: 5px;
}
.filter-item-include {
	background: url(../tango-scalable/actions/system-search.svg) no-repeat 0 0;
	background-size: contain;
}
.filter-item-exclude {
	background: url(../tango-scalable/actions/list-remove.svg) no-repeat 0 0;
	background-size: contain;
}
.filter-item {
	display: inline-block;
	border-radius: 5px;
	border: 1px solid darkblue;
	margin: 1px;
	min-height: 16px;
	padding: 2px;
	padding-left: 20px;
	background-color: #ffff8f;
}
.filter-item:hover {
	background: url(../tango-scalable/actions/edit-clear.svg) no-repeat 0 0;
	background-size: contain;
/* 	text-decoration: line-through; */
	color: grey;
	background-color: #efefef;
	border: 1px solid #bfbfbf;
	cursor: pointer;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------ Page-Status ------------------------------ */
/* ------------------------------------------------------------------------- */
.page-status {
}
.status-icon {
	height: 32px;
}

/* ------------------------------------------------------------------------- */
/* ----------------------- GUI Element Notifications ----------------------- */
/* ------------------------------------------------------------------------- */
.highlight {
	border-radius: 10px;
	padding: 8px;
	animation:red-to-white 2s ease-out 0.5s 10;
}
@keyframes red-to-white {
	from {
		background-color: red;
	}
	to {
		background-color: white;
	}
}

/* ------------------------------------------------------------------------- */
/* ----------------------- Minions! ---------------------------------------- */
/* ------------------------------------------------------------------------- */
.ems-minion {
	border: 2px solid transparent;
	border-top: none;
	border-bottom: none;
	border-radius: 5px;
	padding-top: 2px;
}
.ems-minion:hover {
	border: 2px solid darkblue;
	border-top: none;
	border-bottom: none;
	background-color: #efefef;
}
.ems-minion .entry-media {
	margin: 0;
	border: none;
	min-width: 0px;
	min-height: 0px;
	max-width: 200px;
	max-height: 60px;
	padding: 0;
}
.page-events {
	display: inline-block;
	white-space: nowrap;
	position: absolute;
	bottom: 0px;
}
.page-events .ems-item {
	display: inline-block;
	padding-left: 5px;
}
.ems-minion .video {
	min-width: 0px;
	min-height: 0px;
	max-width: 200px;
	max-height: 60px;
}
.minion-content {
	position: relative;
	min-width: 60px;
	text-align: center;
}
.minion-tools {
	display: none;
	position: absolute;
	margin-top: +12px;
}
.minion-content:hover+.minion-tools {
	display: block;
}
.minion-tools:hover {
	display: block;
}
.minion-tools-decorator-top {
	position: absolute;
	margin-top: -15px;
	margin-left: 20px;
	width: 0px;
	height: 0px;
	border-bottom: 15px solid darkblue;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	z-index: 2; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.minion-tools-decorator-left {
	position: absolute;
	background-color: transparent;
	/* sollte einen konfortablen Fokus-Schutz-Bereich um die Toolbox herum abdecken, damit sie nicht ungewollte verschwindet */
	min-width: 80px;
	min-height: 60px;
	border-radius: 50%;
	margin-top: -50px;
	z-index: 1; /* sollte über anderen standardmäßig sichtbaren Elementen, außer der Toolbox liegen */
}
.minion-tools-content {
	position: absolute;
	min-width: 160px;
	border-radius: 20px;
	border: 1px solid darkblue;
	border-top: 3px solid darkblue;
	padding: 10px;
	background-color: white;
	text-align: center;
	z-index: 2; /* stellt Anzeige über transparentem Usability-Block sicher */
}
.minion-title {
	font-weight: bold;
	margin-bottom: 5px;
}
.minion-tools-content>button {
	display: block;
	position: relative;
	width: 100%;
}
button.minion-filter-include {
	font-size: larger;
}
.minion-details-dialog {
	display: inline-block;
	position: absolute;
/* 	margin-left: -200%; */
	margin-top: 150%;
	background-color: white;
	border: 3px solid darkblue;
	border-radius: 20px;
	padding: 10px;
	z-index: 3; /* sollte über anderen standardmäßig sichtbaren Elementen erscheinen */
	text-align: right;
}
.minion-setting {
	margin-bottom: 1em;
}
.minion-details-label {
	display: inline-block;
}
.minion-delete {
	font-size: small;
}

/* -------------------------------------------------------------------------- */
/* --------------------------------- Confirm -------------------------------- */
/* -------------------------------------------------------------------------- */
.confirm-dialog {
	position: absolute;
	display: inline-block;
	text-align: center;
	max-width: 90%;
	background-color: white;
	border: 3px dashed red;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	z-index: 3; /* sollte über anderen standardmäßig sichtbaren Elementen erscheinen */
}
.confirm--message {
	display: block;
	margin-bottom: 15px;
}
.upload-dialog>button {
	float: right;
}

.ems-login-content {
	text-align: center;
}
.login-hint {
	margin-bottom: 1em;
}
.login-hint-heading {
	font-weight: bold;
}
.login-forms, register-form {
	display: inline-block;
}
.login-form-entries, .register-form, .register-form>div {
	text-align: right;
}
.login-form-entries>div {
	margin-bottom: 0.5em;
}
.login-form-buttons {
	margin-top: 1em;
	text-align: right;
}
.login-form-primary-buttons {
}
.login-form-secondary-buttons {
	margin-top: 2em;
}
.register-form>button {
	margin-top: 1em;
}
.login-nick-label {
	display: inline-block;
}
.login-password-label {
	display: inline-block;
}
.register-password-label {
	display: inline-block;
}
.register-email-label {
	display: inline-block;
}
.password-recovery-request-entries, .password-recovery-entries {
	text-align: right;
}
.password-recovery-request-entries>div, .password-recovery-entries>div {
	margin-bottom: 0.5em;
}
.password-recovery-email-label {
	display: inline-block;
}
.password-recovery-request-buttons {
	margin-top: 1em;
	text-align: right;
}
.password-recovery-password-label {
	display: inline-block;
}
.password-recovery-msid-label {
	display: inline-block;
}
.password-recovery-buttons {
	margin-top: 1em;
	text-align: right;
}

/* -------------------------------------------------------------------------- */
/* ---------------------------------- Player -------------------------------- */
/* -------------------------------------------------------------------------- */
.player-canvas {
	position: absolute;
	z-index: 20;
}

/* -------------------------------------------------------------------------- */
/* ---------------------------------- Chess --------------------------------- */
/* -------------------------------------------------------------------------- */
.chess_frame {
	display: inline-block;
	background-color: #ffa040;
	padding: 0.4em;
}
.chess_border {
	display: inline-block;
	background-color: #ffff80;
	padding: 0.4em;
}
.chess_inner_border {
	display: inline-block;
	background-color: #ffa040;
	padding: 0.2em;
}
.chess_field {
	border: none;
	border-spacing: 0;
}
.chess_white {
	width: 3em;
	height: 3em;
	padding: 0;
	background-color: #ffff80;
}
.chess_black {
	width: 3em;
	height: 3em;
	padding: 0;
	background-color: #ffa040;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------- Searchbar ------------------------------- */
/* -------------------------------------------------------------------------- */
div.main-searchbar {
	display: block;
	margin-top: 3px;
}
div.searchbar {
	display: inline-block;
}
div.searchbar-extender {
	min-height: 1.3em;
	padding-bottom: 0.5em;
}
div.searchbar-interface {
	position: absolute;
	z-index: 1; /* raise entry above minions in title bar */
	background-color: rgba(223,223,223,0.9);
	border: 1px solid rgba(223,223,223,1);
	border-radius: 4px;
	padding: 2px;
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-left: 0;
	border-left: 0;
}
div.searchbar-entry {
	min-height: 1.3em;
	display: inline-block;
	border: 1px solid gray;
	border-radius: 4px;
	background-color: white;
	color: black;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 10pt;
	font-family: sans-serif;
	outline: 0px solid transparent;
}
div.searchbar-buttons {
	display: inline-block;
	position: absolute;
	background-color: rgba(223,223,223,0.9);
	border: 1px solid rgba(223,223,223,1);
	border-radius: 4px;
	padding: 2px;
	border-left: 0;
	margin-left: 2px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-top: -2px;
}
button.searchbar-button {
	padding-left: 2mm;
	padding-top: 1mm;
	height: 1.5em;
}
img.searchbar-button-symbol {
	height: 1em;
}
/* Font and left offsets of apropos-spacer needs to be similar to input.searchbar, to
 * achieve current words hint to be displayed under the current word! */
.apropos-spacer {
	display: inline-block;
	visibility: hidden;
	font-size: 10pt;
	font-family: sans-serif;
	white-space: pre; 
	border: 0px;
	padding-left: 2px;
}
.apropos {
	display: block;
	position: absolute;
}
.apropos-hints {
	display: inline-block;
	background-color: white;
	margin-top: 1px;
	border: 1px solid grey;
	border-top: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 3px;
	padding-top: 0px;
	position: relative; /* allow hints to be rendered above entry border */
	z-index: 1; /* raise entry above minions in title bar */
}
.apropos-hint {
	display: block;
	font-size: 10pt;
	font-family: sans-serif;
}
