<div class="chess_frame">
	<div class="chess_border">
		<div class="chess_inner_border">
			<table class="chess_field">
				<tr><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td></tr>
				<tr><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td></tr>
				<tr><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td></tr>
				<tr><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td></tr>
				<tr><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td></tr>
				<tr><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td></tr>
				<tr><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td></tr>
				<tr><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td><td class="chess_black"></td><td class="chess_white"></td></tr>
			</table>
		</div>
	<div>
<div>