				<div id="confirm-dialog-template" class="confirm-dialog" style="display:none">
					<div class="confirm-tools">
						<div class="confirm-tools-decorator-left"></div>
						<div class="confirm-tools-decorator-top"></div>
						<div class="confirm-tools-content">
						</div>
						<div class="confirm-tools-decorator-bottom"></div>
						<div class="confirm-tools-decorator-right"></div>
					</div>
					<div class="confirm-message">
						${_("Aktion wirklich durchführen?")}
					</div>
					<button class="confirm-ok" onclick="Confirm.ok( $(this).closest('.confirm-dialog')[0] );">
						${_("OK")}
					</button>
					<button class="confirm-cancel" onclick="Confirm.cancel( $(this).closest('.confirm-dialog')[0] );">
						${_("Abbrechen")}
					</button>
				</div>
