			<span id="ems-entry-template" class="ems-entry" style="display:none">
				<span class="entry-decorator-left"></span>
				<span class="entry-decorator-top"></span>
				<span class="entry-data">
					<span class="entry-heading">
						<span class="entry-title-label">${_("Betreff:")}</span>
						<span class="entry-title"></span>
						<span class="entry-time">
							<span class="entry-ctime">
								<span class="entry-ctime-label">${_("Erstellt:")}</span>
								<span class="entry-ctime-day"></span>
								<span class="entry-ctime-time"></span>
							</span>
							<span class="entry-mtime">
								<span class="entry-mtime-label">${_("Zuletzt geändert:")}</span>
								<span class="entry-mtime-day"></span>
								<span class="entry-mtime-time"></span>
							</span>
						</span>
					</span>
					<span class="entry-content"></span>
				</span>
				<span class="entry-tools">
					<span class="entry-tools-decorator-left"></span>
					<span class="entry-tools-decorator-top"></span>
					<span class="entry-tools-content">
						<button class="entry-response-button" onclick="new_response(global_user, this)">
							${_("Antworten")}
						</button>
						<button class="entry-edit-button" onclick="edit_entry(this)">
							${_("Bearbeiten")}
						</button>
						<button class="entry-delete-button" onclick="delete_entry(this)">
							${_("Löschen")}
						</button>
					</span>
					<span class="entry-tools-decorator-bottom"></span>
					<span class="entry-tools-decorator-right"></span>
				</span>
				<span class="entry-decorator-bottom"></span>
				<span class="entry-decorator-right"></span>
			</span>
