			<span id="ems-entry-template" class="ems-entry" style="display:none">
				<span class="entry-connector"></span>
				<span class="entry-data">
					<span class="entry-heading">
						<span class="entry-title-label">${_("Betreff:")}</span>
						<span class="entry-title"></span>
					</span>
					<span class="entry-content"></span>
				</span>
				<span class="entry-tools">
					<button class="entry-edit" onclick="edit_entry(this)">
						${_("Bearbeiten")}
					</button>
					<button class="entry-save" style="display:none" onclick="save_entry_plain(this)">
						${_("Speichern")}
					</button>
				</span>
			</span>
