<div class="ems-entry">
	<div class="entry-decorator-left"></div>
	<div class="entry-decorator-top"></div>
	<div class="entry-metadata">
		<div class="entry-author">
		</div>
		<div class="entry-time">
			<div class="entry-ctime">
				<div class="entry-ctime-label">${_("Erstellt:")}</div>
				<div class="entry-ctime-day"></div>
				<div class="entry-ctime-time"></div>
			</div>
			<div class="entry-mtime">
				<div class="entry-mtime-label">${_("Zuletzt geändert:")}</div>
				<div class="entry-mtime-day"></div>
				<div class="entry-mtime-time"></div>
			</div>
		</div>
	</div>
	<div class="entry-bubble">
		<div class="entry-heading">
			<div class="entry-title-line">
				<div class="entry-title-label">${_("Betreff:")}</div>
				<div class="entry-title"></div>
				<div class="entry-publication">
					<a class="entry-publication-link">${_("Externer Link")}</a>
				</div>
			</div>
		</div>
		<div class="entry-content"></div>
	</div>
	<div class="entry-tools">
		<div class="entry-tools-decorator-left"></div>
		<div class="entry-tools-decorator-top"></div>
		<div class="entry-tools-content">
			<div class="entry-tags">
				<div class="entry-tags-label">${_("Thema:")}</div>
				<button class="entry-tags-show-selection-button require-permission-write-entry" title="${_('Weiteres Thema anfügen')}">${_("...")}</button>
				<div class="entry-tags-selection" style="display:none" >
					<div class="entry-tags-close-selection-button" title="${_('Auswahl ausblenden')}"></div>
					<div class="entry-tags-searchbar" ></div>
					<div class="entry-tags-search-result-scroll-container-hack" style="display:none" >
						<div class="entry-tags-search-result" ></div>
					</div>
				</div>
				<div class="entry-tags-content"></div>
			</div>
			<button class="entry-response-button require-permission-write-self">
				${_("Antworten")}
			</button>
			<div class="require-permission-write-entry">
				<button class="entry-link-button">
					${_("Extern verlinken")}
				</button>
			</div>
			<div class="require-permission-write-entry">
				<button class="entry-edit-button">
					${_("Bearbeiten")}
				</button>
			</div>
			<div class="require-permission-delete-entry">
				<button class="entry-delete-button">
					${_("Löschen")}
				</button>
			</div>
		</div>
		<div class="entry-tools-decorator-bottom"></div>
		<div class="entry-tools-decorator-right"></div>
	</div>
	<div class="entry-edit-tools" >
		<div class="entry-edit-tools-decorator-left"></div>
		<div class="entry-edit-tools-decorator-top"></div>
		<div class="entry-edit-tools-content">
			<div class="entry-tags"></div>
			<button class="entry-edit-file-button">
				${_("Datei einfügen")}
			</button>
			<button class="entry-edit-send-button">
				${_("Abschicken")}
			</button>
			<button class="entry-edit-discard-button">
				${_("Verwerfen")}
			</button>
		</div>
		<div class="entry-edit-tools-decorator-bottom"></div>
		<div class="entry-edit-tools-decorator-right"></div>
	</div>
	<div class="entry-decorator-bottom"></div>
	<div class="entry-decorator-right"></div>
</div>
