<div class="entry-tag" >
	<div class="entry-tag-tools">
		<div class="entry-tag-tools-decorator-left"></div>
		<div class="entry-tag-tools-decorator-top"></div>
		<div class="entry-tag-tools-content">
			<div class="entry-tag-tool entry-tag-tool-filter-for" title="${_('Nur Beiträge mit diesem Thema darstellen')}" >
				<button>${_("Thema suchen")}</button>
			</div>
			<div class="entry-tag-tool entry-tag-tool-filter-exclude" title="${_('Beiträge mit diesem Thema ausblenden')}" >
				<button>${_("Thema ausblenden")}</button>
			</div>
		</div>
		<div class="entry-tag-tools-decorator-bottom"></div>
		<div class="entry-tag-tools-decorator-right"></div>
	</div>
	<div class="entry-tag-label"></div>
	<button class="entry-tag-add" style="display:none">${_("+")}</button>
	<button class="entry-tag-remove" style="display:none">${_("-")}</button>
</div>
