<div class="ems-entry">
	<div class="entry-decorator-left"></div>
	<div class="entry-decorator-top"></div>
	<div class="entry-metadata">
		<div class="entry-author">
		</div>
		<div class="entry-time">
			<div class="entry-ctime">
				<div class="entry-ctime-label">${_("Erstellt:")}</div>
				<div class="entry-ctime-day"></div>
				<div class="entry-ctime-time"></div>
			</div>
			<div class="entry-mtime">
				<div class="entry-mtime-label">${_("Zuletzt geändert:")}</div>
				<div class="entry-mtime-day"></div>
				<div class="entry-mtime-time"></div>
			</div>
			<div class="entry-ctime-changer">
				<div class="entry-ctime-changer-decorator-left"></div>
				<div class="entry-ctime-changer-decorator-top"></div>
				<div class="entry-ctime-changer-content">
					<div class="entry-ctime-change-label">Beitragsdatum:</div>
					<input class="entry-ctime-date-input" type="date" />
					<input class="entry-ctime-time-input" type="time" />
					<button class="entry-ctime-change-button">
						<img class="entry-ctime-change-button-symbol" src="silk_icons/accept.png" />
					</button>
					<button class="entry-ctime-cancel-button">
						<img class="entry-ctime-cancel-button-symbol" src="silk_icons/cancel.png" />
					</button>
				</div>
				<div class="entry-ctime-changer-decorator-bottom"></div>
				<div class="entry-ctime-changer-decorator-right"></div>
			</div>
		</div>
	</div>
	<div class="entry-bubble">
		<div class="entry-heading">
			<div class="entry-title-line">
				<div class="entry-title-label">${_("Betreff:")}</div>
				<div class="entry-title"></div>
				<div class="entry-status-notification entry-draft-notification">
					<div class="entry-status-notification-symbol-container">
						<img class="entry-status-notification-symbol" src="tango-scalable/apps/accessories-text-editor.svg" />
					</div>
					<div class="entry-draft-notification-label">${_("in Bearbeitung")}</div>
					<div class="entry-draft-notification-image-container user-image"></div>
				</div>
				<div class="entry-status-notification entry-publication-notification">
					<div class="entry-status-notification-symbol-container">
						<img class="entry-status-notification-symbol" src="tango-scalable/apps/internet-web-browser.svg" />
					</div>
					<a class="entry-publication-link">${_("Externer Link")}</a>
				</div>
			</div>
		</div>
		<div class="entry-content"></div>
		<div class="entry-edit-toolbar">
			<div class="entry-edit-range-tools">
				<div class="entry-edit-range-tools-description">
					${_("Formatierung:")}
				</div>
				<div class="entry-edit-range-tools-symbols">
					<button class="keysym keysym-ctrl" title="${_("Strg+...")}" disabled >${_("Strg+...")}</button>
					<button class="keysym keysym-emoji" title="${_("E: Emoji-Liste")}">E</button>
					<button class="keysym keysym-upload" title="${_("D: Dateianhang")}">D</button>
					<button class="keysym keysym-hyperlink" title="${_("L: Verlinkung")}">L</button>
					<button class="keysym keysym-quote" title="${_("Y: Zitierung")}">Y</button>
					<button class="keysym keysym-highlight" title="${_("H: Hervorhebung")}">H</button>
					<button class="keysym keysym-bold" title="${_("B: fett")}">B</button>
					<button class="keysym keysym-italic" title="${_("I: schräg")}">I</button>
					<button class="keysym keysym-fixed" title="${_("M: feste Breite")}">M</button>
					<button class="keysym keysym-underline" title="${_("U: Unterstreichung")}">U</button>
					<button class="keysym keysym-overline" title="${_("O: Überstreichung")}">O</button>
					<button class="keysym keysym-strikethrough" title="${_("S: Durchstreichung")}">S</button>
					<button class="keysym keysym-larger" title="${_("+: größer")}">+</button>
					<button class="keysym keysym-smaller" title="${_("-: kleiner")}">-</button>
				</div>
			</div>
			<div class="entry-edit-list-tools">
				<div class="entry-edit-list-tools-description">
					${_("Einrückung:")}
				</div>
				<div class="entry-edit-list-tools-symbols">
					<button class="keysym keysym-tab-right" title="${_("Tab: Einrückung erhöhen")}">Tab</button>
					<button class="keysym keysym-tab-left" title="${_("Umschalt+Tab: Einrückung verringern")}">Shift + Tab</button>
				</div>
			</div>
		</div>
	</div>
	<div class="entry-tools">
		<div class="entry-tools-decorator-left"></div>
		<div class="entry-tools-decorator-top"></div>
		<div class="entry-tools-content">
			<div class="entry-tags">
				<div class="entry-tags-label">${_("Thema:")}</div>
				<div class="entry-tags-content"></div>
				<div class="entry-tags-additional-content">
					<button class="entry-tags-show-selection-button require-permission-write-entry" title="${_('Weiteres Thema anfügen')}">
						${_("...")}
					</button>
				</div>
				<div class="entry-tags-selection" style="display:none" >
					<div class="entry-tags-close-selection-button" title="${_('Auswahl ausblenden')}"></div>
					<div class="entry-tags-searchbar" ></div>
					<div class="entry-tags-search-result-scroll-container-hack" style="display:none" >
						<div class="entry-tags-search-result" ></div>
					</div>
					<div class="entry-tags-search-activity-bar" ></div>
				</div>
			</div>
			<button class="entry-title-search-button entry-button" title="${_('Nur Beiträge mit diesem Titel darstellen')}" >
				<img class="entry-tools-button-symbol" src="tango-scalable/actions/system-search.svg" />
				<div class="entry-tools-button-label">${_("Titel suchen")}</div>
			</button>
			<button class="entry-toggle-toolbar draft-button">
				<img class="entry-tools-button-symbol entry-toggle-toolbar-symbol" src="tango-scalable/categories/applications-accessories.svg" />
				<div class="entry-tools-button-label">${_("Werkzeugleiste")}</div>
			</button>
			<button class="entry-response-button entry-button require-permission-write-self">
				<img class="entry-tools-button-symbol entry-response-symbol" src="tango-scalable/actions/mail-reply-sender.svg" />
				<div class="entry-tools-button-label">${_("Antworten")}</div>
			</button>
			<button class="entry-link-button entry-button require-permission-write-entry">
				<img class="entry-tools-button-symbol entry-link-symbol" src="tango-scalable/apps/internet-web-browser.svg" />
				<div class="entry-tools-button-label">${_("Extern verlinken")}</div>
			</button>
			<button class="entry-edit-button entry-button require-permission-write-entry">
				<img class="entry-tools-button-symbol entry-edit-symbol" src="tango-scalable/apps/accessories-text-editor.svg" />
				<div class="entry-tools-button-label">${_("Bearbeiten")}</div>
			</button>
			<button class="entry-save-button draft-button">
				<img class="entry-tools-button-symbol entry-save-symbol" src="tango-scalable/devices/media-floppy.svg" />
				<div class="entry-tools-button-label">${_("Entwurf speichern")}</div>
			</button>
			<button class="entry-send-button draft-button">
				<img class="entry-tools-button-symbol entry-send-symbol" src="tango-scalable/mimetypes/application-certificate.svg" />
				<div class="entry-tools-button-label">${_("Veröffentlichen")}</div>
			</button>
			<div class="draft-tools-footer-compound">
				<div class="change-and-save-notifiers">
					<div class="change-notifier">
						<img class="entry-tools-button-symbol change-notifier-icon" src="tango-scalable/apps/accessories-text-editor.svg" />
					</div>
					<div class="save-notifier">
						<img class="entry-tools-button-symbol save-notifier-icon" src="tango-scalable/devices/media-floppy.svg" />
					</div>
				</div>
				<button class="entry-draft-discard-button draft-button">
					<img class="entry-tools-button-symbol entry-draft-discard-symbol" src="tango-scalable/actions/mail-mark-junk.svg" />
					<div class="entry-tools-button-label">${_("Verwerfen")}</div>
				</button>
			</div>
			<button class="entry-delete-button entry-button require-permission-delete-entry">
				<img class="entry-tools-button-symbol entry-delete-symbol" src="tango-scalable/status/user-trash-full.svg" />
				<div class="entry-tools-button-label">${_("Löschen")}</div>
			</button>
		</div>
		<div class="entry-tools-decorator-bottom"></div>
		<div class="entry-tools-decorator-right"></div>
	</div>
	<div class="entry-decorator-bottom"></div>
	<div class="entry-decorator-right"></div>
</div>
