			<span id="ems-entry-template" class="ems-entry" style="display:none">
				<span class="entry-decorator-left"></span>
				<span class="entry-decorator-top"></span>
				<span class="entry-data">
					<span class="entry-heading">
						<span class="entry-title-label">${_("Betreff:")}</span>
						<span class="entry-title"></span>
						<span class="entry-time">
							<span class="entry-ctime">
								<span class="entry-ctime-label">${_("Erstellt:")}</span>
								<span class="entry-ctime-day"></span>
								<span class="entry-ctime-time"></span>
							</span>
							<span class="entry-mtime">
								<span class="entry-mtime-label">${_("Zuletzt geändert:")}</span>
								<span class="entry-mtime-day"></span>
								<span class="entry-mtime-time"></span>
							</span>
						</span>
					</span>
					<span class="entry-content"></span>
				</span>
				<span class="entry-tools">
					<span class="entry-tools-decorator-left"></span>
					<span class="entry-tools-decorator-top"></span>
					<span class="entry-tools-content">
						<button class="entry-response-button" onclick="new_response(global_user, this)">
							${_("Antworten")}
						</button>
						<span class="require-permission-write-entry">
							<button class="entry-edit-button" onclick="edit_entry(this)">
								${_("Bearbeiten")}
							</button>
						</span>
						<span class="require-permission-delete-entry">
							<button class="entry-delete-button" onclick="delete_entry(this)">
								${_("Löschen")}
							</button>
						</span>
						<span class="entry-tags">
							<span class="entry-tags-label">${_("Thema:")}</span>
							<button class="entry-tags-show-selection-button" title="${_('Weiteres Thema anfügen')}" onclick="show_tag_selection(this);" >${_("...")}</button>
							<span class="entry-tags-selection" style="display:none" ></span>
							<span class="entry-tags-content"></span>
						</span>
					</span>
					<span class="entry-tools-decorator-bottom"></span>
					<span class="entry-tools-decorator-right"></span>
				</span>
				<span class="entry-edit-tools" style="display:none" >
					<span class="entry-edit-tools-decorator-left"></span>
					<span class="entry-edit-tools-decorator-top"></span>
					<span class="entry-edit-tools-content">
						<button class="entry-edit-file-button" onclick="add_file( {dom_parent: $('.entry-content',$(this).closest('.ems-entry'))[0], wrap: true} )">
							${_("Datei einfügen")}
						</button>
						<span class="entry-tags"></span>
						<button class="entry-edit-send-button" onclick="save_entry(this)">
							${_("Abschicken")}
						</button>
						<button class="entry-edit-discard-button" onclick="discard_response(this)">
							${_("Verwerfen")}
						</button>
					</span>
					<span class="entry-edit-tools-decorator-bottom"></span>
					<span class="entry-edit-tools-decorator-right"></span>
				</span>
				<span class="entry-decorator-bottom"></span>
				<span class="entry-decorator-right"></span>
			</span>

			<span id="entry-tag-template" class="entry-tag" style="display:none" >
				<span class="entry-tag-tools">
					<span class="entry-tag-tools-decorator-left"></span>
					<span class="entry-tag-tools-decorator-top"></span>
					<span class="entry-tag-tools-content">
						<span class="entry-tag-tool entry-tag-tool-filter-for" title="${_('Nur Beiträge mit diesem Thema darstellen')}" >
							<button>${_("Thema suchen")}</button>
						</span>
						<span class="entry-tag-tool entry-tag-tool-filter-exclude" title="${_('Beiträge mit diesem Thema ausblenden')}" >
							<button>${_("Thema ausblenden")}</button>
						</span>
					</span>
					<span class="entry-tag-tools-decorator-bottom"></span>
					<span class="entry-tag-tools-decorator-right"></span>
				</span>
				<span class="entry-tag-label"></span>
				<button class="entry-tag-add" style="display:none" onclick="add_tag(this)">${_("+")}</button>
				<button class="entry-tag-remove" style="display:none" onclick="remove_tag(this)">${_("-")}</button>
			</span>
