<div class="link-tool">
	<div class="link-tool-decorator-left"></div>
	<div class="link-tool-decorator-top"></div>
	<div class="link-tool-content">
		<div class="link-tool-option">
			<div class="link-tool-title link-text-title">${_("Text:")}</div>
			<div class="link-tool-value link-text"></div>
		</div>
		<div class="link-tool-option">
			<div class="link-tool-title link-url-title">${_("URL:")}</div>
			<div class="link-tool-value link-url"></div>
		</div>
		<div class="link-tool-buttons">
			<button class="link-tool-remove">${_("Aufheben")}</button>
			<button class="link-tool-confirm">${_("OK")}</button>
		</div>
	</div>
	<div class="link-tool-decorator-bottom"></div>
	<div class="link-tool-decorator-right"></div>
</div>