			<span id="ems-new-entry" class="ems-new-entry" style="display:none">
				<span class="new-entry-decorator-left"></span>
				<span class="new-entry-decorator-top"></span>
				<span class="new-entry-data">
					<span class="new-entry-heading">
						<span class="new-entry-title-label">${_("Betreff:")}</span>
						<span class="new-entry-title"></span>
					</span>
					<span class="new-entry-content"></span>
				</span>
				<span class="new-entry-tools">
					<span class="new-entry-tools-decorator-left"></span>
					<span class="new-entry-tools-decorator-top"></span>
					<span class="new-entry-tools-content">
						<button class="new-entry-write-button" onclick="">
							${_("Schreiben")}
						</button>
						<button class="new-entry-write-button" onclick="">
							${_("Emotion ausdrücken")}
						</button>
						<button class="new-entry-write-button" onclick="">
							${_("Datei anhängen")}
						</button>
						<hl/>
						<button class="new-entry-send-button" onclick="save_entry_plain(this)">
							${_("Abschicken")}
						</button>
						<button class="new-entry-discard-button" onclick="discard_response(this)">
							${_("Verwerfen")}
						</button>
					</span>
					<span class="new-entry-tools-decorator-bottom"></span>
					<span class="new-entry-tools-decorator-right"></span>
				</span>
				<span class="new-entry-decorator-bottom"></span>
				<span class="new-entry-decorator-right"></span>
			</span>
