<div class="searchbar-extender">
	<div class="searchbar-interface">
		<div class="searchbar-entry"></div>
		<div class="searchbar-buttons">
			<button class="searchbar-button searchbar-button-search">
				<img class="searchbar-button-symbol searchbar-search-symbol" src="tango-scalable/actions/system-search.svg" />
			</button>
			<button class="searchbar-button searchbar-button-clear">
				<img class="searchbar-button-symbol searchbar-clear-symbol" src="tango-scalable/actions/edit-clear.svg" />
			</button>
		</div>
	</div>
</div>
<div class="apropos">
	<div class="apropos-spacer"></div>
	<div class="apropos-hints"></div>
</div>
