		<div class="statusbar">
			<div class="statusbar-buttons">
				<button class="statusbar-button-larger"></button>
				<button class="statusbar-button-smaller"></button>
			</div>
			<div class="statusbar-content"></div>
			<div class="message-template message" style="display:none">
				<div class="message-emblem"></div>
				<div class="message-time"></div>
				<div class="message-source"></div>
				<div class="message-text"></div>
			</div>
			<div class="statusbar-entry-box">
				<div class="statusbar-entry-prompt">&gt;&nbsp;</div>
				<div class="statusbar-entry"></div>
			</div>
		</div>
