				<span class="upload-dialog-template" style="display:none">
					<span class="upload-manual">
						${_("Ziehe eine Datei auf den markierten Bereich!")}
					</span>
					<span class="upload-preview">
					</span>
					<span class="upload-info">
						<span class="upload-title"></span>
						<span class="upload-type"></span>
						<span class="upload-size"></span>
					</span>
					<button class="upload-save" onclick="confirm_upload(this);">
						${_("Datei verwenden")}
					</button>
					<button class="upload-cancel" onclick="close_upload_dialog(this);">
						${_("Abbrechen")}
					</button>
				</span>
