				<div class="upload-dialog">
					<div class="upload-tools">
						<div class="upload-tools-decorator-left"></div>
						<div class="upload-tools-decorator-top"></div>
						<div class="upload-tools-content">
						</div>
						<div class="upload-tools-decorator-bottom"></div>
						<div class="upload-tools-decorator-right"></div>
					</div>
					<div class="upload-manual">
						${_("Ziehe eine Datei auf den markierten Bereich!")}
					</div>
					<div class="upload-preview">
						<div class="upload-progress"></div>
						<div class="upload-status"></div>
					</div>
					<div class="upload-chooser"><input class="upload-file-input" type="file"></input></div>
					<div class="upload-info">
						<div class="upload-title"></div>
						<div class="upload-type"></div>
						<div class="upload-size"></div>
						<div class="upload-poster"></div>
					</div>
					<button class="upload-save">
						${_("Datei verwenden")}
					</button>
					<button class="upload-recent">
						${_("Frühere Uploads zeigen...")}
					</button>
					<button class="upload-cancel">
						${_("Abbrechen")}
					</button>
					<button class="upload-pause">
						${_("Pausieren")}
					</button>
					<button class="upload-resume">
						${_("Fortsetzen")}
					</button>
				</div>
