			<span id="ems-user-template" class="ems-user" style="display:none">
				<span class="user-heading">
					<span class="user-image"></span>
					<span class="user-nick-label">${_("Nutzer:")}</span>
					<span class="user-nick"></span>
				</span>
				<span class="user-tools">
					<span class="user-tools-decorator-left"></span>
					<span class="user-tools-decorator-top"></span>
					<span class="user-tools-content">
						<button class="user-send-message" onlick="send_message(this" disabled="true">
							${_("Nachricht senden")}
						</button>
						<span class="require-permission-write-user">
							<button class="user-change-image" onclick="change_user_image(this)">
								${_("Bild ändern")}
							</button>
							<button class="user-change-password" onclick="edit_password(this)">
								${_("Passwort ändern")}
							</button>
						</span>
						<span class="require-permission-delete-user">
							<button class="user-delete" onclick="" disabled="true" >
								${_("Benutzer löschen")}
							</button>
						</span>
					</span>
					<span class="user-tools-decorator-bottom"></span>
					<span class="user-tools-decorator-right"></span>
				</span>
				<span class="user-password-dialog" style="display:none">
					<span class="user-old-password">
						<label>${_("Altes Passwort:")}</label>
						<input class="user-old-password-input" type="password" onkeypress="var my=this; onenter(event,function(){change_password(my)})"></input>
					</span>
					<span class="user-new-password">
						<label>${_("Neues Passwort:")}</label>
						<input class="user-new-password-input" type="password" onkeypress="var my=this; onenter(event,function(){change_password(my)})"></input>
					</span>
					<span class="user-new-password-2">
						<label>${_("Neues Passwort (wiederholen):")}</label>
						<input class="user-new-password-input-2" type="password" onkeypress="var my=this; onenter(event,function(){change_password(my)})"></input>
					</span>
					<button class="user-new-password-save" onclick="change_password(this)">
						${_("Passwort ändern")}
					</button>
					<button class="user-new-password-cancel" onclick="$(this).closest('.user-password-dialog')[0].style.display='none';">
						${_("Abbrechen")}
					</button>
				</span>
				<span class="user-image-dialog" style="display:none">
					<span class="user-image-manual">
						${_("Ziehe ein Bild auf den markierten Bereich!")}
					</span>
					<span class="user-image-preview">
					</span>
					<span class="user-image-info">
						<span class="user-image-title"></span>
						<span class="user-image-type"></span>
						<span class="user-image-size"></span>
					</span>
					<button class="user-image-save" onclick="confirm_image(this)">
						${_("Bild verwenden")}
					</button>
					<button class="user-image-cancel" onclick="$(this).closest('.user-image-dialog')[0].style.display='none';">
						${_("Abbrechen")}
					</button>
				</span>
				<span class="user-content"></span>
			</span>
