<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link id="main_style" rel="stylesheet" type="text/css" href="css/bubbles.css" />
		<script data-main="js/main.js" src="js/require-jquery.js"></script>
		<script>
			var global_status = undefined;
			var global_user = undefined;
			function init()
			{
				$.get('ems.wsgi?do=status',
				function(result)
				{
					result = parse_result( result )
					global_status = result
					if( result.login )
					{
						$(".menu-login")[0].style.display="none";
						$(".menu-nick-caption")[0].style.display="";
						$(".menu-nick")[0].innerHTML=result.login.nick;
						$(".menu-logout")[0].style.display="";
						$.get('ems.wsgi?do=get&view=all&id='+String(result.login.id),
						function(result)
						{
							result = parse_result( result )
							global_user = result[0]
							update_application()
						})
					}
					else
					{
						$(".ems-content")[0].style.display="none";
						open_tpl('login.html')
					}
				})
			}
			
			function get_field_name( field )
			{
				var field_name = field.id.replace('application-','').replace('-input','').replace('-','_')
				if( field_name in {"statement":0, "abstract":0} )
				{
					field_name += "_id"
				}
				return field_name
			}
			
			function rs( field )
			{
				hilight( field, "orange", 2 )
				request_store( store_application, field )
			}
			
			function store_application( field )
			{
				var field_name = get_field_name( field )
				var value = field.value;
				if( field_name in {"statement_id":0, "abstract_id":0} )
				{
					value = field.parentNode.data.object_id
				}
				$.get( 'ems.wsgi?do=store&type=application/x-obj.iswi.application&'+field_name+'='+value, 
				function(result)
				{
					result = parse_result( result )
					if( !result.succeeded )
					{
						hilight( field )
					}
					else unlight( field )
				})
			}
			
			function update_application()
			{
				if( !global_user.application_id )
				{
					$.ajax({ url : 'ems.wsgi?do=store&type=application/x-obj.iswi.application',
							 async : false,
							 success :
					function( result )
					{
						result = parse_result( result )
						if( result.succeeded )
						{
							global_user.application_id = result.object_id;
						}
					}})
				}
				$.get( 'ems.wsgi?do=get&view=all&id='+global_user.application_id,
				function(result)
				{
					result = parse_result( result )[0]
					$('.application-input').each(
					function( i, field )
					{
						var field_name = get_field_name( field )
						if( result && result[field_name] )
						{
							if( field_name in {"statement_id":0, "abstract_id":0} )
							{
								if( field.parentNode.data ) field.parentNode.data["object_id"] = result[field_name]
								else field.parentNode.data = { "object_id" : result[field_name] }
								show_object( {id:result[field_name], dom_object:field.parentNode}, field.parentNode.parentNode )
							}
							else field.value = result[field_name]
						}
						else if( result && field_name=="talk_request" )
						{
							var abstract_id = result["abstract_id"]
							var id_suffix = abstract_id ? "true" : "false"
							var radio = $("#application-talk-request-"+id_suffix)[0]
							radio.checked = "checked"
							toggle_abstract( radio )
						}
						else 
						{
							hilight( field, "orange", 2 )
						}
					})
					$(".ems-content")[0].style.display="";
				})
			}
			
			function toggle_abstract( obj )
			{
				var abstract = $('#application-abstract')[0]
				if( obj.value=="true" ) abstract.style.display=''
				else abstract.style.display='none'
			}
			
			function create_or_edit_entry( button )
			{
				var field_name = get_field_name( button )
				$.get( 'ems.wsgi?do=get&view=all&id='+global_user.application_id,
				function(result)
				{
					result = parse_result( result )[0]
					if( result && result[field_name] )
					{
						edit_entry( button )
						unlight( button )
					}
					else if( result )
					{
						var parms = {type:'application/x-obj.entry', dom_object:button.parentNode}
						new_item( parms )
						if( parms.id )
						{
							store_application( button )
							edit_entry( button )
							unlight( button )
						}
						else hilight( button )
					}
					else hilight( button )
				})
			}
		</script>
	</head>
	<body>
		<div class="ems-menu">
			<span class="L" id="20120719003003">Sprache:</span>
			<select class="menu-language" onchange="change_language(this.value)">
				<option value="en">English</option>
				<option value="de">Deutsch</option>
			</select>
			<span class="L" id="20120719184906">Stil:</span>
			<select class="menu-style" onchange="change_style(this.value)">
				<option value="bubbles">Bubbles</option>
				<option value="notes">Notes</option>
			</select>
			<button class="menu-login" onclick="open_tpl('login.html')">
				<span class="L" id="20120718195058">Anmelden</span>
			</button>
			<span class="menu-nick-caption">
				<span class="L" id="20120719002628">Zugang:</span>
				<span class="menu-nick"></span>
			</span>
			<button class="menu-logout" onclick="logout()">
				<span class="L" id="20120513122714">Abmelden</span>
			</button>
		</div>
		<div class="page-menu">
			<button class="ems-index" onclick="open_tpl('overview.html')">
				<span class="L" id="20120720192127">Übersicht</span>
			</button>
		</div>
		<h2 class="ems-heading">
			<span class="L" id="20120723095806">Bewerbung</span>
		</h2>
		<div class="ems-help"></div>
		<div class="ems-content" style="display:none" >
			<div class="application-study">
				<div class="application-field" id="application-university-name">
					<span class="application-label" id="application-university-name-label"><span class="L" id="20120723100550">Deine Universität</span></span>
					<input class="application-input" id="application-university-name-input" onchange="rs(this)" onkeyup="rs(this)" />
				</div>
				<div class="application-field" id="application-study-field">
					<span class="application-label" id="application-study-field-label"><span class="L" id="20120723101117">Dein Studienfach</span></span>
					<input class="application-input" id="application-study-field-input" onchange="rs(this)" onkeyup="rs(this)" />
				</div>
				<div class="application-field" id="application-study-years">
					<span class="application-label" id="application-study-years-label"><span class="L" id="20120723101222">Absolvierte Studienjahre</span></span>
					<input class="application-input" id="application-study-years-input" onchange="rs(this)" onkeyup="rs(this)" />
				</div>
				<div class="application-field" id="application-study-finish">
					<span class="application-label" id="application-study-finish-label"><span class="L" id="20120723101321">Voraussichtlicher Abschlusszeitpunkt</span></span>
					<input class="application-input" id="application-study-finish-input" onchange="rs(this)" onkeyup="rs(this)" />
				</div>
			</div>
			<div class="ems-entry" id="application-statement" >
				<div class="entry-heading">
					<span class="L" id="20120723110238">Titel:</span>
					<span class="entry-title">Ausformulierte Bewerbung</span>
				</div>
				<div class="entry-content">...</div>
				<button class="application-input" id="application-statement-input" onclick="create_or_edit_entry(this)">
					<span class="L" id="20120513130201">Bearbeiten</span>
				</button>
			</div>
			<div class="application-talk">
				<div class="application-field" id="application-talk-request">
					<span class="application-label" id="application-talk-request-label"><span class="L" id="20120723103439">Möchtest du einen Vortrag halten?</span></span>
					<span class="application-input" id="application-talk-request-input">
						<input type="radio" name="application-talk-request-input" id="application-talk-request-true" value="true" onchange="toggle_abstract(this)" /><span class="L" id="20120723103726">Ja</span>
						<input type="radio" name="application-talk-request-input" id="application-talk-request-false" value="false" onchange="toggle_abstract(this)" checked="true" /><span class="L" id="20120723103755">Nein</span>
					</span>
				</div>
				<div class="ems-entry" id="application-abstract" style="display:none">
					<div class="entry-heading">
						<span class="L" id="20120723111052">Vortragstitel:</span>
						<span class="entry-title">...</span>
					</div>
					<div class="entry-content">...</div>
					<button class="application-input" id="application-abstract-input" onclick="create_or_edit_entry(this)">
						<span class="L" id="20120513130201">Bearbeiten</span>
					</button>
				</div>
			</div>
			<div class="application-wishes">
				<div class="application-field" id="application-accomodation">
					<span class="application-label" id="application-accomodation-label"><span class="L" id="20120723101419">Unterbringungsuwnsch</span></span>
					<input class="application-input" id="application-accomodation-input" onchange="rs(this)" onkeyup="rs(this)" />
				</div>
				<div class="application-field" id="application-food">
					<span class="application-label" id="application-food-label"><span class="L" id="20120723101519">Verpflegungswunsch</span></span>
					<input class="application-input" id="application-food-input" onchange="rs(this)" onkeyup="rs(this)" />
				</div>
				<div class="application-field" id="application-comment">
					<span class="application-label" id="application-comment-label"><span class="L" id="20120723101616">Sonstige Anmerkung</span></span>
					<input class="application-input" id="application-comment-input" onchange="rs(this)" onkeyup="rs(this)" />
				</div>
			</div>
		</div>
		<div id="entry-text-template" class="entry-text" style="display:none"></div>
		<div class="ems-status">
			<div class="ems-message"></div>
			<pre class="ems-error"></pre>
		</div>
	</body>
</html>

