<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>${_("ISWI - Kontaktdaten")}</title>
		<link id="main_style" rel="stylesheet" type="text/css" href="css/bubbles.css" />
		<script data-main="js/main.js" src="js/require-jquery.js"></script>
		<script>
			var global_status = undefined;
			var global_user = undefined;
			function init()
			{
				$.get('ems.wsgi?do=status',
				function(result)
				{
					result = parse_result( result )
					global_status = result
					if( result.login )
					{
						$(".menu-login")[0].style.display="none";
						$(".menu-nick-caption")[0].style.display="";
						$(".menu-nick")[0].innerHTML=result.login.nick;
						$(".menu-logout")[0].style.display="";
						$.get('ems.wsgi?do=get&view=all&id='+String(result.login.id),
						function(result)
						{
							result = parse_result( result )
							global_user = result[0]
							update_contact()
							$(".contact-input").each(
							function( i, field ) {
								field.onchange = field.onkeyup = field.onblur = function() { rs(this); };
							})
						})
					}
					else
					{
						$(".ems-content")[0].style.display="none";
						open_tpl('login.html')
					}
				})
			}
			
			function get_field_name( field )
			{
				return field.id.replace('contact-','').replace('-input','').replace('-','_')
			}
			
			function rs( field )
			{
				hilight( field, "blue", 2 )
				request_store( store_contact, field )
			}
			
			function store_contact( field )
			{
				field_name = get_field_name( field )
				$.get( 'ems.wsgi?do=store&type=application/x-obj.iswi.contact&'+field_name+'='+field.value, 
				function(result)
				{
					result = parse_result( result )
					if( !result.succeeded )
					{
						show_message( "Failed to store '"+field_name+"'" )
						hilight( field )
					}
					else hilight( field, "green", 2 )
				})
			}
			
			function update_contact()
			{
				if( !global_user.contact_id )
				{
					$.ajax({ url : 'ems.wsgi?do=store&type=application/x-obj.iswi.contact',
							 async : false,
							 success :
					function( result )
					{
						result = parse_result( result )
						if( result.succeeded )
						{
							global_user.contact_id = result.object_id;
						}
					}})
				}
				$.get( 'ems.wsgi?do=get&view=all&id='+global_user.contact_id,
				function(result)
				{
					result = parse_result( result )
					result = result[0]
					$('.contact-input').each(
					function( i, field )
					{
						field_name = get_field_name( field )
						if( result && result[field_name] )
						{
							field.value = result[field_name]
						}
						else hilight( field, "orange", 2 )
					})
					$(".ems-content")[0].style.display="";
				})
			}
		</script>
	</head>
	<body>
		<div class="ems-menu">
			<%include file="/elements/language_select.html" />
			<%include file="/elements/style_select.html" />
			<%include file="/elements/login_widget.html" />
		</div>
		<div class="page-menu">
			<%include file="/elements/overview_button.html" />
		</div>
		<h2 class="ems-heading">
			${_("Kontaktdaten")}
		</h2>
		<div class="ems-help"></div>
		<div class="ems-content" style="display:none" >
			<div class="contact-personal">
				<div class="contact-field" id="contact-name-title">
					<span class="contact-label" id="contact-name-title-label">${_("Namenstitel")}</span>
					<input class="contact-input" id="contact-name-title-input" />
				</div>
				<div class="contact-field" id="contact-first-name">
					<span class="contact-label" id="contact-first-name-label">${_("Vorname")}</span>
					<input class="contact-input" id="contact-first-name-input" />
				</div>
				<div class="contact-field" id="contact-surname">
					<span class="contact-label" id="contact-surname-label">${_("Nachname")}</span>
					<input class="contact-input" id="contact-surname-input" />
				</div>
				<div class="contact-field" id="contact-birth">
					<span class="contact-label" id="contact-birth-label">${_("Geburtsdatum")}</span>
					<select class="contact-input" id="contact-birth-year-input">
						% for year in range(1950,2000):
							<option value="${year}">${year}</option>
						% endfor
					</select>
					<select class="contact-input" id="contact-birth-month-input">
						<%include file="/elements/month_options.html" />
					</select>
					<select class="contact-input" id="contact-birth-day-input">
						% for day in range(1,32):
							<option value="${day}">${day}.</option>
						% endfor
					</select>
				</div>
				<div class="contact-field" id="contact-gender">
					<span class="contact-label" id="contact-gender-label">${_("Geschlecht")}</span>
					<select class="contact-input" id="contact-gender-input">
						<option value="undefined"></option>
						<option value="female">${_("weiblich")}</option>
						<option value="male">${_("männlich")}</option>
					</select>
				</div>
				<div class="contact-field" id="contact-nationality">
					<span class="contact-label" id="contact-nationality-label">${_("Nationalität")}</span>
					<input class="contact-input" id="contact-nationality-input" />
				</div>
			</div>
			<div class="contact-address">
				<div class="contact-field" id="contact-country">
					<span class="contact-label" id="contact-country-label">${_("Staat")}</span>
					<% import os %>
					<select class="contact-input" id="contact-country-input" >
					% for line in [x.strip() for x in open(os.path.join(app.path,"country_en.txt"),"r")]:
						<option value="${line}">${line[:40] + (len(line)>40 and "..." or "")}</option>
					% endfor
					</select>
				</div>
				<div class="contact-field" id="contact-region">
					<span class="contact-label" id="contact-region-label">${_("Region")}</span>
					<input class="contact-input" id="contact-region-input" />
				</div>
				<div class="contact-field" id="contact-city">
					<span class="contact-label" id="contact-city-label">${_("Stadt")}</span>
					<input class="contact-input" id="contact-city-input" />
				</div>
				<div class="contact-field" id="contact-street">
					<span class="contact-label" id="contact-street-label">${_("Straße und Hausnummer")}</span>
					<input class="contact-input" id="contact-street-input" />
				</div>
				<div class="contact-field" id="contact-postal-code">
					<span class="contact-label" id="contact-postal-code-label">${_("Postleitzahl")}</span>
					<input class="contact-input" id="contact-postal-code-input" />
				</div>
				<div class="contact-field" id="contact-telephone1">
					<span class="contact-label" id="contact-telephone1-label">${_("Telefonnummer")}</span>
					<input class="contact-input" id="contact-telephone1-input" />
				</div>
				<div class="contact-field" id="contact-telephone2">
					<span class="contact-label" id="contact-telephone2-label">${_("Telefonnummer (alternativ)")}</span>
					<input class="contact-input" id="contact-telephone2-input" />
				</div>
			</div>
		</div>
		<div class="ems-status">
			<div class="ems-message"></div>
			<pre class="ems-error"></pre>
		</div>
	</body>
</html>

