<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>${app.config.sitename+_(" - Kontaktdaten")}</title>
		<link id="main_style" rel="stylesheet" type="text/css" href="" />
		<script data-main="js/main.js" src="js/require.js"></script>
		<script>
			var global_status = undefined;
			var global_user = undefined;
			function init()
			{
				get_module( "status", {
					done : function(result) {
						result = parse_result( result );
						global_status = result;
						if( result.login && result.login.nick!='anonymous' ) {
							$(".menu-login")[0].style.display="none";
							$(".menu-account-info")[0].style.display="";
							$(".menu-account-nick")[0].innerHTML=result.login.nick;
							$(".menu-logout")[0].style.display="";
							get_module( "get", {
								args : {view : "all", id : result.login.id},
								done : function(result) {
									result = parse_result( result );
									global_user = result[0];
									update_contact();
									$(".contact-input").each(
									function( i, field ) {
										field.onchange = field.onkeyup = field.onblur = function() { rs(this); };
									})
								}
							});
						} else {
							$(".ems-content")[0].style.display="none";
							open_tpl('login.html');
						}
					}
				});
			}
			
			function get_field_name( field )
			{
				return field.id.replace('contact-','').replace('-input','').replace('-','_')
			}
			
			function rs( field )
			{
				hilight( field, "blue", 2 )
				request_store( store_contact, field )
			}
			
			function store_contact( field )
			{
				var field_name = get_field_name( field );
				var get_args = { type : "application/x-obj.iswi.contact" };
				get_args[ field_name ] = field.value;
				get_module( "store", {
					args : get_args,
					done : function( result ) {
						result = parse_result( result );
						if( result.succeeded ) hilight( field, "green", 2 );
					},
					fail : function( result ) {
						result = parse_result( result );
						//show_message( "Failed to store '"+field_name+"'" );
						hilight( field );
					}
				});
			}
			
			function update_contact()
			{
				if( !global_user.contact_id )
				{
					get_module( "store", {
						args : {type : "application/x-obj.iswi.contact"},
						async : false,
						done : function( result ) {
							result = parse_result( result );
							if( result.succeeded ) global_user.contact_id = result.object_id;
						}
					});
				}
				get_module( "get", {
					args : {view : "all", id : global_user.contact_id},
					done : function(result) {
						result = parse_result( result );
						result = result[0];
						$('.contact-input').each(
						function( i, field )
						{
							field_name = get_field_name( field );
							if( result && result[field_name] )
							{
								field.value = result[field_name];
							}
							else hilight( field, "orange", 2 )
						})
						$(".ems-content")[0].style.display="";
					}
				});
			}
		</script>
	</head>
	<body>
		<div class="page-menu">
			<%include file="/elements/global_menu.html" args="title=app.config.sitename+' - '+_('Kontaktdaten')" />
			<div class="page-widgets">
				<%include file="/elements/overview_button.html" />
			</div>
		</div>
		<div class="ems-content" style="display:none" >
			<div class="contact-personal">
				<div class="contact-field" id="contact-name-title">
					<div class="contact-label" id="contact-name-title-label">${_("Namenstitel")}</div>
					<input class="contact-input" id="contact-name-title-input" />
				</div>
				<div class="contact-field" id="contact-first-name">
					<div class="contact-label" id="contact-first-name-label">${_("Vorname")}</div>
					<input class="contact-input" id="contact-first-name-input" />
				</div>
				<div class="contact-field" id="contact-surname">
					<div class="contact-label" id="contact-surname-label">${_("Nachname")}</div>
					<input class="contact-input" id="contact-surname-input" />
				</div>
				<div class="contact-field" id="contact-birth">
					<div class="contact-label" id="contact-birth-label">${_("Geburtsdatum")}</div>
					<select class="contact-input" id="contact-birth-year-input">
						% for year in range(1950,2000):
							<option value="${year}">${year}</option>
						% endfor
					</select>
					<select class="contact-input" id="contact-birth-month-input">
						<%include file="/elements/month_options.html" />
					</select>
					<select class="contact-input" id="contact-birth-day-input">
						% for day in range(1,32):
							<option value="${day}">${day}.</option>
						% endfor
					</select>
				</div>
				<div class="contact-field" id="contact-gender">
					<div class="contact-label" id="contact-gender-label">${_("Geschlecht")}</div>
					<select class="contact-input" id="contact-gender-input">
						<option value="undefined"></option>
						<option value="female">${_("weiblich")}</option>
						<option value="male">${_("männlich")}</option>
					</select>
				</div>
				<div class="contact-field" id="contact-nationality">
					<div class="contact-label" id="contact-nationality-label">${_("Nationalität")}</div>
					<input class="contact-input" id="contact-nationality-input" />
				</div>
			</div>
			<div class="contact-address">
				<div class="contact-field" id="contact-country">
					<div class="contact-label" id="contact-country-label">${_("Staat")}</div>
					<% import os %>
					<select class="contact-input" id="contact-country-input" >
					% for line in [x.strip() for x in open(os.path.join(app.path,"country_en.txt"),"r")]:
						<option value="${line}">${line[:40] + (len(line)>40 and "..." or "")}</option>
					% endfor
					</select>
				</div>
				<div class="contact-field" id="contact-region">
					<div class="contact-label" id="contact-region-label">${_("Region")}</div>
					<input class="contact-input" id="contact-region-input" />
				</div>
				<div class="contact-field" id="contact-city">
					<div class="contact-label" id="contact-city-label">${_("Stadt")}</div>
					<input class="contact-input" id="contact-city-input" />
				</div>
				<div class="contact-field" id="contact-street">
					<div class="contact-label" id="contact-street-label">${_("Straße und Hausnummer")}</div>
					<input class="contact-input" id="contact-street-input" />
				</div>
				<div class="contact-field" id="contact-postal-code">
					<div class="contact-label" id="contact-postal-code-label">${_("Postleitzahl")}</div>
					<input class="contact-input" id="contact-postal-code-input" />
				</div>
				<div class="contact-field" id="contact-telephone1">
					<div class="contact-label" id="contact-telephone1-label">${_("Telefonnummer")}</div>
					<input class="contact-input" id="contact-telephone1-input" />
				</div>
				<div class="contact-field" id="contact-telephone2">
					<div class="contact-label" id="contact-telephone2-label">${_("Telefonnummer (alternativ)")}</div>
					<input class="contact-input" id="contact-telephone2-input" />
				</div>
			</div>
		</div>
		<%include file="/elements/status_box.html" />
	</body>
</html>

