<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>${app.config.sitename+_(" - Anmeldung")}</title>
		<link id="main_style" rel="stylesheet" type="text/css" href="" />
		<script data-main="js/main.js" src="js/require-jquery.js"></script>
		<script>
			function init()
			{
				hide_register()
				$.get('ems.wsgi?do=status', 
				function( result )
				{
					result = parse_result( result )
					if( result.login )
					{
						open_tpl("overview.html")
					}
					else
					{
						$("input.login-nick").focus()
					}
				})
			}
			
			function show_register_password_match_message() {
				show_message( ${_("'Die eingegebenen Passwörter müssen übereinstimmen'")} )
			}
			
			function show_register_submit_message() {
				show_message( ${_("""'Vielen Dank! Du solltest nun eine Bestätigungsanfrage via E-Mail mit einem Bestätigungslink erhalten. Beim Aufruf des Bestätigungslinks wird dein Zugang aktiviert, sodass du dich einloggen kannst.'""")} )
			}
		</script>
	</head>
	<body>
		<span class="page-menu">
			<%include file="/elements/global_menu.html" args="title=app.config.sitename+' - '+_('Anmeldung')" />
			<span class="page-widgets">
				<%include file="/elements/overview_button.html" />
			</span>
		</span>
		<div class="ems-content">
			<div class="ems-login">
				<div class="login-nick">
					<span class="login-nick">
						${_("Benutzername:")}
					</span>
					<input type="text" class="login-nick" onkeypress="onenter(event,login)"/>
				</div>
				<div class="login-password">
					<span class="login-password">
						${_("Passwort:")}
					</span>
					<input type="password" class="login-password" onkeypress="onenter(event,login)"/>
				</div>
				<button class="login-submit" onclick="login()">
					${_("Anmelden")}
				</button>
				<button class="login-register" onclick="show_register()">
					${_("Noch nicht registriert?")}
				</button>
			</div>
			<div class="ems-register" style="display:none">
				<div class="register-password">
					<span class="register-password">
						${_("Passwort wiederholen:")}
					</span>
					<input type="password" class="register-password"/>
				</div>
				<div class="register-email">
					<span class="register-email">
						${_("E-Mail-Adresse:")}
					</span>
					<input type="text" class="register-email"/>
				</div>
				<button class="register-submit" onclick="register()">
					${_("Registrieren")}
				</button>
				<div class="register-reconfirm" style="display:none" >
					<div class="register-reconfirm-message">
						${_("Deine Zugangsdaten sind korrekt, dein Konto wurde aber eventuell noch nicht aktiviert.")}<br/>
						${_("Hast du eine Bestätigungsanfrage via E-Mail erhalten und auf den darin enthaltenen Bestätigungslink geklickt?")}<br/>
						${_("Wenn du möchtest, kannst du die Bestätigungsanfrage nochmal an die oben angegebene Adresse schicken lassen.")}<br/>
					</div>
					<button class="register-reconfirm-submit" onclick="reconfirm()">
						${_("Bestätigungs-E-Mail nochmal schicken")}
					</button>
				</div>
			</div>
		</div>
		<%include file="/elements/status_box.html" />
	</body>
</html>
