<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>${app.config.sitename+_(" - Übersicht")}</title>
		<link id="main_style" rel="stylesheet" type="text/css" href="css/bubbles.css" />
		<script data-main="js/main.js" src="js/require-jquery.js"></script>
		<script>
			var global_status = undefined;
			var global_user = undefined;
			function init()
			{
				$.get('ems.wsgi?do=status',
				function(result)
				{
					result = parse_result( result )
					global_status = result
					if( result.login )
					{
						$(".menu-login")[0].style.display="none";
						$(".menu-nick-caption")[0].style.display="";
						$(".menu-nick")[0].innerHTML=result.login.nick;
						$(".menu-logout")[0].style.display="";
						$.get('ems.wsgi?do=get&view=all&id='+String(result.login.id),
						function(result)
						{
							result = parse_result( result )
							global_user = result[0]
						})
					}
					else
					{
						$(".menu-login")[0].style.display="";
						$(".menu-nick-caption")[0].style.display="none";
						$(".menu-nick")[0].innerHTML="";
						$(".menu-logout")[0].style.display="none";
					}
					load_visible_objects( {limit: 15, type: 'application/x-obj.entry'} )
				})
			}			
		</script>
	</head>
	<body>
		<div class="ems-menu">
			<%include file="/elements/language_select.html" />
			<%include file="/elements/style_select.html" />
			<%include file="/elements/login_widget.html" />
		</div>
		<div class="page-menu">
			<button class="ems-visibility-button" onclick="open_tpl('visibility.html')">
				${_("Objektsichtbarkeit")}
			</button>
			<button class="ems-new-entry-button" onclick="new_response(global_user)">
				${_("Beitrag erstellen")}
			</button>
		</div>
		<h1 class="ems-heading">${_("Übersicht")}</h1>
		<div class="ems-help"></div>
		<div class="ems-content">
		</div>
		<%include file="/elements/status_box.html" />
		<%include file="/elements/group_template.html" />
		<%include file="/elements/user_template.html" />
		<%include file="/elements/entry_template.html" />
		<%include file="/elements/text_template.html" />
		<%include file="/elements/new_entry.html" />
	</body>
</html>
