<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>${app.config.sitename}</title>
		<link id="main_style" rel="stylesheet" type="text/css" href="" />
		<script data-main="js/main.js" src="js/require-jquery.js"></script>
		<script>
			var global_status = undefined;
			var global_user = undefined;
			function init()
			{
				var query_parms = parse_result( "${str(app.query.parms).replace(r'\"',r'\\\"')}" );
				$.get('ems.wsgi?do=status',
				function(result)
				{
					result = parse_result( result )
					global_status = result
					if( !result.login || result.login.nick=='anonymous' ) {
						$(".menu-login")[0].style.display="";
						$(".menu-account-info")[0].style.display="none";
						$(".menu-account-nick")[0].innerHTML="";
						$(".menu-logout")[0].style.display="none";
					}
					if( result.login ) {
						if( result.login.nick!='anonymous' ) {
							$(".menu-login")[0].style.display="none";
							$(".menu-account-info")[0].style.display="";
							$(".menu-account-nick")[0].innerHTML=result.login.nick;
							$(".menu-logout")[0].style.display="";
						} 
						$.get('ems.wsgi?do=get&view=all&id='+String(result.login.id),
						function(result)
						{
							result = parse_result( result )
							global_user = result[0]
						});
					}
					filters = { ids:{}, parent_ids:{}, child_ids:{} }
					id_list = query_parms.id ? query_parms.id.split(",").map(Number) : [];
					for( x in id_list ) { filters.ids[id_list[x]] = {}; }
					parent_id_list = query_parms.parent_id ? query_parms.parent_id.split(",").map(Number) : [];
					for( x in parent_id_list ) { filters.parent_ids[parent_id_list[x]] = {}; }
					child_id_list = query_parms.child_id ? query_parms.child_id.split(",").map(Number) : [];
					for( x in child_id_list ) { filters.child_ids[child_id_list[x]] = {}; }
					apply_page_filter( filters );
					Minions.show_latest( $('.page-events')[0], 15 );
					/*var ws = WebSocket('ws://localhost/ems/ems.wsgi?do=event_monitor');
					ws.onmessage = function( msg ) {
						var result = parse_result( msg.data );
						if( result.succeeded ) {
							$('.page-events').empty();
							for( var i in result.objects ) {
								var obj = result.objects[i];
								var img = $('<img>').attr( {'class': 'status-icon', 'src': get_status_icon(obj.type),
									'title': obj.title+' ('+obj.type+')'} );
								$('.page-events').append( img );
							}
						}
					};*/
				})
			}
			
			function get_status_icon( type ) {
				var fallback = 'tango-scalable/status/image-missing.svg';
				var generic_type = type.match(/^([^/]*)\//)[1];
				var mappings = {
					'application/x-obj.group' : 'tango-scalable/apps/system-users.svg',
					'application/x-obj.entry' : 'tango-scalable/mimetypes/x-office-document.svg',
					'application/x-obj.tag' : 'tango-scalable/mimetypes/application-certificate.svg',
					'text/plain' : 'tango-scalable/mimetypes/text-x-generic.svg',
					'text/html' : 'tango-scalable/mimetypes/text-html.svg',
					'image' : 'tango-scalable/mimetypes/image-x-generic.svg',
					'audio' : 'tango-scalable/mimetypes/audio-x-generic.svg',
					'video' : 'tango-scalable/mimetypes/video-x-generic.svg',
					'binary' : 'tango-scalable/mimetypes/binary.svg'
				};
				
				return mappings[type] ? mappings[type] : mappings[generic_type] ? mappings[generic_type] : fallback;
			}
		</script>
	</head>
	<body>
		<div class="page-menu">
			<%include file="/elements/global_menu.html" args="title=app.config.sitename" />
			<div class="page-widgets">
				<button class="new-entry-button" onclick="new_response(global_user)">
					${_("Beitrag erstellen")}
				</button>
				<div class="page-filter">
					<div class="page-filter-title">${_("Filter:")}</div>
					<div class="page-filter-view"></div>
				</div>
				<div class="page-events"></div>
			</div>
		</div>
		<div class="ems-content"></div>
		<%include file="/elements/status_box.html" />
		<%include file="/elements/group_template.html" />
		<%include file="/elements/user_template.html" />
		<%include file="/elements/entry_template.html" />
		<%include file="/elements/text_template.html" />
		<%include file="/elements/upload_dialog.html" />
		<%include file="/elements/minion_template.html" />
		<%include file="/elements/confirm_dialog.html" />
	</body>
</html>
